*{
	   	padding: 0px;
	   	margin:0px;
	   	box-sizing: border-box;
}

b {font-weight:bold;}
body{ font-family: 'Cabin', sans-serif; color: #636466; font-size: 19px; width: 100%; }
h2{ font-size: 47px; color: #3f4042; text-align: center; font-family: 'Cabin', sans-serif;
    letter-spacing: -3px; margin-top: 35px; }
h2 span{ display: block; font-size: 40px; }

p{     font-size: 16px;
    margin: 30px auto 0 auto;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 20px;}

a{ text-decoration: none; color: #636466; }

strong{ font-family: 'Cabin', sans-serif; }
sup{ font-size: 50%; }

.blue{ color: #00aeef; }

.clear{ clear: both; }
.hfield { display: none; visibility: hidden;}
.list{ float: right; width: 460px; margin-top: 36px; }
.list .ul-head{ font-size: 22px; margin-bottom: 20px; text-align: left; }
.list ul{ margin: 0 0 0 22px; }
.list ul li{ margin-bottom: 8px; text-align: left; line-height: 21px; padding-left: 20px; }

.package-images{ float: left; margin: 35px auto 70px auto; }
.package-images img{ display: block; }
.package-images img:nth-child(1){ margin-bottom: 20px; }

.btn{ background-color: #00aeef; color: white; font-size: 32px; font-family: 'Cabin', sans-serif;;
    border-radius: 7px; padding: 16px 10px 10px 10px; text-align: center;
    letter-spacing: -1px; margin: 40px auto 0 auto; cursor: pointer; }
.btn:hover{ background-color: #24b7ee; }

.menu{ width: 1115px; height: 110px; margin: 0 auto 0 auto; }

#logo-link{ float: left; }
#logo-link img{ margin-top: 12px; }

.menu-wrapper{ position: fixed; background: white; width: 100%; z-index: 80;  top: 0px; }

.header-separator{ background: url("../img/header-separator.png") left top repeat-x;
    width: 100%; position: fixed; top: 110px; height: 4px;  }

.menu-entries{ float: right;    padding-top: 50px;
    font-size: 20px;
    font-weight: bold; }
.menu-entries > div{ height: 110px; text-decoration: none; color: #717375; display: inline-block;
    text-align: center; cursor: pointer; }
.menu-entries > div > span{ display: block; margin-top: 65px; font-family: 'Cabin', sans-serif; }

/* #menu-entry-1{ width: 141px; background: url("../img/1a.png") left top no-repeat; } */
/* #menu-entry-1:hover, #menu-entry-1.bak{ background-position: 0px -120px; color: white; } */
/* #menu-entry-2{ width: 141px; background: url("../img/2a.png") left top no-repeat; } */
/* #menu-entry-2:hover, #menu-entry-2.bak{ background-position: 0px -120px; color: white; } */
/* #menu-entry-3{ width: 141px; background: url("../img/3a.png") left top no-repeat; } */
/* #menu-entry-3:hover, #menu-entry-3.bak{ background-position: 0px -120px; color: white; } */

/* .child{ width: 141px; background: url("../img/1a.png") left top no-repeat; }
.child:hover, .child.active{ background-position: 0px -120px; color: white; }
.child{ width: 141px; background: url("../img/2a.png") left top no-repeat; }
.child:hover, .child.active{ background-position: 0px -120px; color: white; }
.child{ width: 141px; background: url("../img/3a.png") left top no-repeat; }
.child:hover, .child.active{ background-position: 0px -120px; color: white; } */


#menu-entry-1,#menu-entry-2,#menu-entry-3{padding-right:40px;}
.menu-entries > div > span {display: block;margin-top: 52px;font-weight: bold;font-family: 'Cabin', sans-serif;}
.menu-entries > div {height: 109px;}
#logo-link img {margin-top: 7px;}
.header-separator {
    background: url(../img/header-separator.png) left top repeat-x;
    width: 100%;
    position: fixed;
    top: 120px;
    height: 4px;
}
.menu {

    height: 120px;
    margin: 0 auto 0 auto;
		width: 100%;
		padding-right: 15%;
		padding-left: 15%;
}
.menu-entries > div {
    height: 119px;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 46%;
    margin-left: -70px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 39%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip2 {
    position: relative;
    display: inline-block;
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 46%;
    margin-left: -70px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 39%;
    margin-left: -60px;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

.tooltip3 {
    position: relative;
    display: inline-block;
}

.tooltip3 .tooltiptext3 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 48%;
    margin-left: -70px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 50%;
    margin-left: -60px;
}

.tooltip3:hover .tooltiptext3 {
    visibility: visible;
}


.pages-wrapper{
  width:100%;
}

.mainlogos{
	width: 50%;
	margin: 0 auto;
	display: block;
}
.logos1{
  display: inline-block;
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
	width: 60%;
	display: block;
	margin: 0 auto;

}

.logos2{
  width: 300px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
	font-family: 'Cabin', sans-serif;

}
.logos3{
  width: 300px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-family: 'Cabin', sans-serif;


}.logos4{
	width: 300px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-family: 'Cabin', sans-serif;

}

.logos1,.logos2,.logos3 > p {
  line-height: 25px;
	margin-bottom: 40px;
}

/* .logos1:hover {
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}

.logos2:hover {
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}

.logos3:hover {
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
} */


.logos img {
  margin-bottom: 20px;
}

#randd,.application,.company{
    font-size: 30px;
    padding-top: 20px;
    font-weight: bold;

}

#randd{
	display: inline-block;
	padding-right: 20px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #0E862C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: inline-block;
    width: 600px;
		font-family: 'Cabin', sans-serif;

}

.contact-form {
	position: relative;
	width: 1115px;
	margin: 0 auto 0 auto;
	margin-top: 110px;
  margin-bottom: 150px;
}

.frame{
  display: inline-block;
  padding-left: 40px;
}

.contact-form h1 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-family: 'Cabin', sans-serif;
	padding-bottom: 40px;
	color: #0F9858;
}

div#menu-entry-1:hover span.bold{
  font-family: 'Cabin', sans-serif;
  color: #0F9858;

}

div#menu-entry-2:hover span.bold{
	font-family: 'Cabin', sans-serif;
  color: #0F9858;

}

div#menu-entry-3:hover span.bold{
  font-family: 'Cabin', sans-serif;
  color: #0F9858;

}
div.hov:hover span.bold{
  color: #0F9858;
}
.bak{   background-position: 0px -120px; color: white; }
div#menu-entry-1 span.bak{color: white; }
div#menu-entry-2 span.bak{color: white; }
div#menu-entry-3 span.bak{color: white; }

.banner-text-1 {
	text-align: center;
	position: absolute;
	top: 63px;
	left: 100px;
	width: auto;
	height: auto;
	font-family: 'Cabin', sans-serif;
	font-size: 65px;
	color: rgb(255, 254, 254);
	line-height: 1.3;
	padding: 5px;
	box-sizing: border-box;
	right: 30px;
	font-weight: bold;
	margin-left: -390px;
	z-index: 99999;
}

.banner-text-2 {
	text-align: center;
  position: absolute;
  top: 145px;
  left: 30px;
  width: auto;
  height: auto;
  font-family: 'Cabin', sans-serif;
  font-size: 65px;
  color: rgb(255, 254, 254);
  line-height: 1.3;
  padding: 5px;
  box-sizing: border-box;
  right: 30px;
  z-index: 1;
  font-weight: bold;
  margin-left: -600px;
}

.banner-text-3 {
	text-align: center;
	position: absolute;
	top: 60px;
	left: 230px;
	width: auto;
	height: auto;
	font-family: 'Cabin', sans-serif;
	font-size: 65px;
	color: rgb(255, 254, 254);
	line-height: 1.3;
	padding: 5px;
	box-sizing: border-box;
	right: 30px;
	font-weight: bold;
	margin-left: -520px;
	z-index: 1;

}


.banner-img {
	width: 100%;
  position: absolute;
  top: 60px;
  height:auto;
  display: block;
  z-index: 1;

}

.banner-img2 {
	width: 100%;
	position: absolute;
	top: 60px;
	height: 500px;
	display: block;
	z-index: 1;
}

.banner-transition-tech{
	position: absolute;
  top: 250px;
  z-index: 1;
  height: 150px;
  width: 100%;
}



.banner-text-3-tech {
    text-align: center;
    position: absolute;
    top: 280px;
    left: 230px;
    width: auto;
    height: auto;
    font-family: 'Cabin', sans-serif;
    font-size: 65px;
    color: rgb(255, 254, 254);
    line-height: 1.3;
    padding: 5px;
    box-sizing: border-box;
    right: 30px;
    font-weight: bold;
    margin-left: -520px;
    z-index: 1;
}

#landing-banner {
	top: 0px;
	left: 0px;
	width: 1300px;
	height: 340px;
	position: absolute;
	display: block;
	z-index: 1;
}

.button {
	position: absolute;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  margin-top: 20px;
  margin-left: 85px;


}

.button a {
	width: 200px;
	padding: 8px 17px;
	text-align: center;
	color: #585555;
	border: solid 2px #0F9858;
	z-index: 1;
	border-radius: 40px;


}
.overlay1 {
	width: auto;
	height: 350px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  opacity: 0.1;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin-top: -352px;
}
.overlay2 {
	width: auto;
	height: 350px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  opacity: 0.1;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin-top: -332px;
}

.overlay3 {
	width: auto;
	height: 350px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  opacity: 0.1;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin-top: -297px;
}



.ll:hover .button {
  opacity: 1;
}

.logos3-p {
	margin-bottom: -20px;
}
/*
.logos4-p{
	margin-top: 60px;
  padding: 0;
  margin: 0;
  height: 0;
  width: 220px;
  margin-left: 40px;
} */
h2{
  text-align:center;
  padding: 20px;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.logo-container {
	width: 1115px;
  margin: 0 auto;
  margin-top: 130px;
  padding-bottom: 20px;
  background-color: #fffbfb;
	color:#0F9858;
}

.partner-h1 {
text-align: center;
font-size: 30px;
font-weight: bold;
padding-top: 20px;
padding-bottom: 60px;
font-family: 'Cabin', sans-serif;
color: #0E986C;
margin-left: 20px;
}


.footer {
	position: relative;
  height: 121px;
  width: 100%;
  background-color: #808183;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Cabin', sans-serif;



}

.footer-left {
	float: left;
}
.contact {
	font-size: 22px;
	margin-left: -40px;
	margin-top: 10px;
}

.buro{
	padding-left: 171px;
  font-size: 17px;
}

.office{
	color: white;
  font-size: 17px;
  padding-left: 145px;
  line-height: 25px;

}

.www{
	padding-left: 140px;
  color: white;
  font-size: 18px;
  line-height: 25px;
}

.footer-right{
	margin-top: 50px;
	margin-right: 170px;
	float: right;
}

.home {
	margin-left: -43px;
	margin-bottom: -17px;
	color: white;
}
.agb{
	color: white;
}

.impli{
	margin-top: -20px;
}

.imp{
		color: white;
    margin-right: -126px;
}

.footer-left p.buro{
	margin: -20px auto 0px auto;
  line-height: 21px;
}

.footer-separator {
    width: 100%;
    position: relative;
    bottom: 6px;
    height: 4px;
    background: url(../img/footer-separator.png) left top repeat-x;
}

.content {
	width: 1115px;
  margin: 0 auto;
	position: relative;
	top:121px;
	padding-bottom: 200px;
	padding-top: 40px;
}


.agb-h3{

  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
}

.agb-h31 {
	margin-bottom: 30px;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
  text-align: center;
}


.agb-p {
	font-size: 16px;
  margin: 30px auto 0 auto;
  line-height: 28px;
	margin-bottom: -20px;
}

.imp-p {
	text-align: center;
  font-size: 20px;
}


.content-impressum {
	width: 1115px;
	margin: 0 auto;
	position: relative;
	top: 121px;
	padding-bottom: 200px;
	padding-top: 40px;
	height: 579px;
}

.content-rnd{
	width: 1115px;
	margin: 0 auto;
	position: relative;
	top: 121px;
	padding-bottom: 371px;
	padding-top: 40px;
}
.rnd-img {
	padding-left: 160px;
	height: 125px;
	position: relative;
	top: 40px;
}
.rnd-a {
	padding-left: 366px;
	margin-top: -80px;
	line-height: 30px;
	font-size: 17px;
	font-family: 'Cabin', sans-serif;
}

.rnd-a a:hover {
	color: #4d9872;
  text-decoration: underline;

}

.rnd-h3 {
	position: absolute;
	top: 65px;
	left: 321px;
	font-size: 25px;
}


.content-amf{
	width: 1115px;
	margin: 0 auto;
	position: relative;
	top: 121px;
	padding-bottom: 401px;
	padding-top: 40px;
}
.amf-img {
	padding-left: 160px;
	height: 125px;
	position: relative;
	top: 40px;
}
.amf-a {
	padding-left: 366px;
	margin-top: -80px;
	line-height: 30px;
	font-size: 17px;
	font-family: 'Cabin', sans-serif;
}

.amf-a a:hover {
	color: #4d9872;
  text-decoration: underline;

}

.amf-h3 {
	position: absolute;
	top: 65px;
	left: 321px;
	font-size: 25px;
}


.content-about{
	margin: 0 auto;
	position: relative;
	top: 121px;
	padding-bottom: 341px;
	padding-top: 40px;
	max-width: 50%;
	margin-top: 700px;
padding-left: 35px;
padding-top: 0px;
}

.about-img {
	padding-left: 160px;
	height: 125px;
	position: relative;
	top: 40px;
}
.about-a {
	padding-left: 366px;
	margin-top: -80px;
	line-height: 30px;
	font-size: 17px;
	font-family: 'Cabin', sans-serif;
}

.about-a a:hover {
	color: #4d9872;
  text-decoration: underline;

}

.about-h3 {
	position: absolute;
	top: 65px;
	left: 321px;
	font-size: 25px;
}

.content-philosophy{
	width: 1115px;
	margin: 0 auto;
	position: relative;
	top: 121px;
	padding-bottom: 295px;
	padding-top: 40px;
}


.footer a:hover {
	color: #a4ddc7;
  text-decoration: underline;
}


* {
    box-sizing: border-box;
}



/* The actual timeline (the vertical ruler) */
/* .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 30px;
    background-color: #892d2d;
} */

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    /* background-color: white; */
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container-timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content-timeline {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

-<<<<<<< HEAD

/* second user up */
.short-intro-h2-about-fail {
	font-weight: bold;
	font-size: 35px;
  color: #0A8429;
}

#fail-text {
	font-family: 'Cabin', sans-serif;

	text-align: justify;

	line-height: 28px;

	width: 92%;
	font-size: 17px;
}



.agb-h31 {

    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    text-align: center;
		color:#0F9858;

}

.short-intro-h2-about-fail {
	font-family: 'Cabin', sans-serif;
	font-size: 35px;
	letter-spacing: 0.5px;
	font-weight: bold;
	background-color: #0E986C;
  margin-left: 0px;
  color: white;
  width: 100%;
  margin-bottom: 20px;
  padding: 25px;

}



/* second user end */
-=======

#return-to-top {
    z-index: 999999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}









ul#short-intro-ul-li {
	margin-left: 100px;
	list-style: square;
}
#return-to-top {
    z-index: 999999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0F9858;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}



/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container-timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}


.timeline-p {
	background-color: #1ABC9C;
  color: white;
  padding: 5px;
	margin:auto;
}

.timeline-img {
	width: 100%;
}

.timeline-year-2016 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	color: #009688;
	font-size: 25px;
	font-weight: bold;
}

.timeline-year-2009 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	color: #E67E22;
	font-size: 25px;
	font-weight: bold;
}

.timeline-p-2009 {
	background-color: #E67E22;
  color: white;
  padding: 5px;
	margin:auto;
}

.team-div-ceo {
	margin: 0 auto;
	position: relative;
	width: 70%;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
  margin-bottom: 40px;
	font-family: 'Cabin', sans-serif;
}

.team-ceo {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 35px;

}

.team-text-left {
	width: 50%;
	display: inline-block;
	font-size: 17px;
	line-height: 1.5;
}

.team-img-ceo {
	display: inline-block;
	width: 25%;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	margin-left: 50px;
	margin-left: 50px;
	position: relative;
	top: -100px;
	left: 30px;
}

.team-text-left {
	position: relative;
  top: -70px;
}

.team-div-fin {
	margin: 0 auto;
	position: relative;
	width: 70%;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
  margin-bottom: 40px;
	font-family: 'Cabin', sans-serif;
}

.team-fin {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: -27px;
  padding-bottom: 64px;
  padding-top: 0px;
}

.team-img-fin{
	display: inline-block;
	width: 25%;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	margin-left: 80px;
	position: relative;
	top: -40px;
}


.team-div-res {
	margin: 0 auto;
	position: relative;
	width: 70%;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
	margin-bottom: 40px;
	font-family: 'Cabin', sans-serif;
}

.team-res {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  padding-bottom: 60px;
  padding-top: 0px;
  margin-bottom: 20px;
}

.team-img-res {
	display: inline-block;
	width: 25%;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	float: left;
	margin-left: 10px;
	margin-right: 70px;
  margin-top: 50px;
}

.team-div-des {
	margin: 0 auto;
	position: relative;
	width: 70%;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
	margin-bottom: 40px;
	font-family: 'Cabin', sans-serif;
}

.team-des {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  padding-bottom: 60px;
  padding-top: 0px;
  margin-bottom: 20px;
}

.team-img-des {
	display: inline-block;
	width: 25%;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	float: left;
	margin-left: 10px;
	margin-right: 80px;
  margin-top: 20px;
}


.banner-text-small-1 {
	font-size: 22px;
	padding-left: 426px;
}

.banner-text-small-2 {
	font-size: 38px;
  padding-left: 1000px;
  padding-top: 20px;
}


.banner-text-small-3 {
	font-size: 20px;
	padding-left: 500px;
	padding-top: 0px;
}



.short-intro {
	font-family: 'Cabin', sans-serif;
  width: 68%;
  margin: 0 auto;
  margin-top: 167px;
  margin-bottom: 100px;
  text-align: center;
}

.short-intro-p {
	font-size: 18px;
	line-height: 28px;
	font-family: 'Cabin', sans-serif;
}

.join-us {
	font-family: 'Cabin', sans-serif;
	width: 68%;
	margin: 0 auto;
	margin-bottom: 100px;
	text-align: center;
}

.join-us-p {
	font-size: 18px;
	margin-top: -10px;
  line-height: 28px;
  font-family: 'Cabin', sans-serif;
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f0f0f0;;
    overflow-x: hidden;
    padding-top: 20px;
		margin-top: 110px;
}

.sidenav a {
    padding: 15px 8px 12px 18px;
    text-decoration: none;
    font-size: 19px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #36b451;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.footer {
	z-index: 1;
}

.short-intro-about {
	font-family: 'Cabin', sans-serif;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 100px;
	text-align: center;
}

.short-intro-h2{
	font-size: 30px;
	font-family: 'Cabin', sans-serif;
  letter-spacing: -1px;
}

.content-team {
	width: 1115px;
	margin: 0 auto;
	position: relative;
	top: -215px;
	padding-bottom: 200px;
	padding-top: 40px;

}


.short-intro-about-scientific {
	font-family: 'Cabin', sans-serif;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;

}


.timeline-cc{
	width: 70%;
  margin-left: 380px;
}

.timeline-inn {
	width: 70%;
  margin-top: -50px;
}

li.actives a{
	color: #0F9858;
	font-weight: bold;
}

.short-intro-p-left{
	font-size: 18px;
	line-height: 28px;
	font-family: 'Cabin', sans-serif;
	text-align: left;
	padding-left: 195px;
}


.short-intro-p-left-up{
	font-size: 17px;
	line-height: 23px;
	font-family: 'Cabin', sans-serif;
	text-align: left;

}

.short-intro-p-left-down{
	font-size: 18px;
	line-height: 5px;
	font-family: 'Cabin', sans-serif;
	text-align: left;

}

.short-intro-p {
	font-size: 17px;
	line-height: 28px;
	font-family: 'Cabin', sans-serif;
	text-align: justify;

}
.short-intro-p-feeding {
	font-size: 17px;
	line-height: 28px;
	font-family: 'Cabin', sans-serif;
	text-align: justify;
	margin-top: -35px;
}


.side-links {
	text-decoration: none;
	font-size: 13px;
	display: block;
	padding-left: 40px;
	margin-top: -10px;
	color: #0A8429;
	font-weight: bold;
	padding-top: 10px;
}

.sidenav a.a-down {
	padding: 15px 8px 12px 47px;
	text-decoration: none;
	font-size: 13px;
	color: #818181;
	display: block;
}

#succeed {
	margin-bottom: 200px;
}

#li-right a {
	margin-left: 30px;
	font-size: 14px;
	margin-top: -15px;
}

#nutrient-delivery,#water-saving,#whereis,#succeed {
	text-align: left;
	padding: 0;
	margin-bottom: 10px;
	line-height: 30px;
	color: #484040;
	font-size: 29px;
}

.succeed {
	margin-bottom: 215px;
}

#what {
	margin-bottom: 70px;
}


#symbiotic{
	margin-bottom: 115px;
}

#short-intro-p-products {
	width: 100%;
}

.home {
	margin-left: -70px;
}

.agb {
	margin-left: -20px;
}

.short-intro-h2 {
	font-weight: bold;
  color: #0F9858;
}

.short-intro-h2-products {
	font-size: 30px;
	font-family: 'Cabin', sans-serif;
	letter-spacing: -1px;
	font-weight: bold;
	color: #0F9858;
}

.short-intro-p-left-down-products {
	font-size: 18px;
	line-height: 5px;
	font-family: 'Cabin', sans-serif;
	text-align: left;
}

.short-intro-about-scientific-last-products{
	font-family: 'Cabin', sans-serif;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 215px;
	text-align: center;
}

.menu-wrapper-home {
		top: 0px;
    position: fixed;
    background: white;
    width: 100%;
    z-index: 80;
}

.team-text-left-ceo {
	width: 50%;
	display: inline-block;
	font-size: 17px;
	line-height: 1.5;
	position: relative;
  top: -70px;
}


/* board */

.team-div-ceo-1 {
  height: 400px;
  margin-bottom: 200px;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
	width: 40%;
	margin: 0 auto;
	width: 30%;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 200px;
  height: 355px;
  height: 390px;
  width: 320px;

}

.team-ceo-1 {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 35px;
	text-align: center;
  position: relative;
  top: -152px;
  color: #716f6f;
  left: -30px;
  border: 2px solid #f1f1f1;
  padding: 20px;
  width: 335px;
  height: 122px;
  padding-top: 15px;
  width: 320px;

}

.team-text-left-ceo-1{
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
  top: -160px;
}


.team-img-ceo-1 {
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -546px;
	left: 34px;
	width: 40%;
  width: 40%;
  position: relative;
  top: -560px;
  left: 25px;

}



.team-div-ceo-2 {
  height: 400px;
  margin-bottom: 200px;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
	width: 40%;
	margin: 0 auto;
	width: 30%;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 200px;
  height: 355px;
}

.team-ceo-2 {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 35px;
	text-align: center;
  position: relative;
  top: -152px;
  color: #716f6f;
  left: -30px;
  border: 2px solid #f1f1f1;
  padding: 20px;
  width: 335px;
  height: 122px;
  padding-top: 15px;
}

.team-text-left-ceo-2{
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
  top: -160px;
}


.team-img-ceo-2 {
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -546px;
	left: 34px;
	width: 40%;
}


.slick-slide {
    width: 40%;
}


.team-div-ceo-3 {
  height: 400px;
  margin-bottom: 200px;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
	width: 40%;
	margin: 0 auto;
	width: 30%;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 200px;
  height: 355px;
}

.team-ceo-3 {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 35px;
	text-align: center;
  position: relative;
  top: -152px;
  color: #716f6f;
  left: -30px;
  border: 2px solid #f1f1f1;
  padding: 20px;
  width: 335px;
  height: 122px;
  padding-top: 15px;
}

.team-text-left-ceo-3{
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
  top: -160px;
}


.team-img-ceo-3 {
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -546px;
	left: 34px;
	width: 40%;
}



.team-div-ceo-4 {
  height: 400px;
  margin-bottom: 200px;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
	width: 40%;
	margin: 0 auto;
	width: 30%;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 200px;
  height: 355px;
}

.team-ceo-4 {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 35px;
	text-align: center;
  position: relative;
  top: -152px;
  color: #716f6f;
  left: -30px;
  border: 2px solid #f1f1f1;
  padding: 20px;
  width: 335px;
  height: 122px;
  padding-top: 15px;
}

.team-text-left-ceo-4{
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
  top: -160px;
}


.team-img-ceo-4 {
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -546px;
	left: 34px;
	width: 40%;
}


.team-div-ceo-5 {
  height: 400px;
  margin-bottom: 200px;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
	width: 40%;
	margin: 0 auto;
	width: 30%;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 200px;
  height: 355px;

}

.team-ceo-5 {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 35px;
	text-align: center;
  position: relative;
  top: -152px;
  color: #716f6f;
  left: -30px;
  border: 2px solid #f1f1f1;
  padding: 20px;
  width: 335px;
  height: 122px;
  padding-top: 15px;
}

.team-text-left-ceo-5{
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
  top: -160px;
}


.team-img-ceo-5 {
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -546px;
	left: 34px;
	width: 40%;
}

.slick-slide img {
    width: 40%;
}

#item {
	margin-bottom: 300px;
	padding-bottom: 0px;
}

#logoss-container{

	position: relative;
	top: -680px;
	width: 80%;
	margin: 0 auto;
	margin-left: 10px;

}

.hid {
	z-index: 1;
  background-color: white;
  position: relative;
  top: -397px;
  width: 300px;
  height: 539px;
  left: 200px;
  margin-bottom: -330px;


}
.header-separator {
	z-index: 2;
}



/* boeard end */

.team-div-ceo-1 {
	height: 300px;
}

/* .team-img-ceo-1 {
	position: relative;
	top: -420px;
} */

/* #dr-stuart-img {
	top: -490px;
}
#dr-marco-img {    margin-top: 141px;}
#dr-stuart {
	line-height: 30px;
	font-size: 20px;
} */

.team-ceo-1 {
	font-size: 20px;
}


.short-intro-about-scientific-last-products {
  margin-bottom: -175px;

}

#logo2-h2 {
	margin-left: 280px;
}

.team-img-other{
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -372px;
	left: 25px;
	width: 40%;
	width: 40%;
	position: relative;

}


.team-img-other1{
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -490px;
	left: 25px;
	width: 40%;
	width: 40%;
	position: relative;

}


.team-img-other2{
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -420px;
	left: 25px;
	width: 40%;
	width: 40%;
	position: relative;

}

.team-img-other3{
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -445px;
	left: 25px;
	width: 40%;
	width: 40%;
	position: relative;

}

.team-img-other4{
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -400px;
	left: 25px;
	width: 40%;
	width: 40%;
	position: relative;

}

.team-img-other5{
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -490px;
	left: 25px;
	width: 40%;
	width: 40%;
	position: relative;

}

.team-img-other6{
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -610px;
	left: 25px;
	width: 40%;
	width: 40%;
	position: relative;

}

.team-img-other7{
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -450px;
	left: 25px;
	width: 40%;
	width: 40%;
	position: relative;

}



#hans-img {
	position: relative;
  top: -410px;
}

#dr-norbert-img {
	top: -450px;
}

.short-intro-p-sounding-board{
	font-size: 17px;
	line-height: 28px;
	font-family: 'Cabin', sans-serif;
	text-align: justify;
	width: 85%;
}

.short-intro-about-scientific-sounding-board {
    font-family: 'Cabin', sans-serif;
    width: 75%;
    margin: 0 auto;
    text-align: center;
		margin-top: -650px;
    margin-bottom: 450px;
}


.li-img {
	list-style-type: none;
	list-style-image: url(../img/li.png);
	padding-left: 20px;
}

#img-1111{
	width: 90%;
	margin: 40px;
}

#img-3333{
	width:40%;
	margin: 40px;
}

#img-5555 {
	width: 90%;
	margin: 40px;
}
#img-6666 {
	width: 90%;
	margin: 40px;
}

#img-7777 {
	width: 90%;
	margin: 40px;

}



/* media Query */
#jssor_1 {
		position: relative;
    margin: 0px auto 160px;
    top: 130px;
    left: 0px;
    width: 411px;
    height: 158.077px;
    overflow: hidden;
    visibility: visible;


	}

.short-intro-h2-about-fail {
	background-color:#0F9858
}

.short-intro-about-scientific-last-products66{
	display: inline-block;
	width: 30%;
	vertical-align: top;
	font-family: 'Cabin', sans-serif;
	margin: 0 auto;
	text-align: center;
}

.short-intro-about-scientific-last-products77{
	display: inline-block;
	width: 30%;
	vertical-align: top;
	font-family: 'Cabin', sans-serif;
	margin: 0 auto;
	text-align: center;
}

#fertilizer-img{
	margin-top: 60px;
}

	#short-intro-p {
			margin-left: 200px;
	}

.short-intro-about,.short-intro-about-scientific,.short-intro-about-scientific,.succeed{
	width:100%;
}
#short-intro-p-products,.short-intro-p-feeding,.short-intro-about > p,.short-intro-about-scientific >p,.succeed > p {
	line-height: 40px;
}
.succeed {
	margin-bottom: 0px;
	    margin-top: 100px;
}
 /* timeline style */
#evo-pro-99{
	margin-top: 60px;
}

#great-scal{
	margin-bottom: -42px;
}

.great-scale{
	margin-top: 60px;
}
a {
  color: #808080;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
  a:hover,
  a.selected {
    color: #0F9858;
  }

h1,h2,h4,h5,h6 {
  text-align: center;
  color: #ccc;

  margin-bottom: 5px;
}
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 14px;
  }
.sociales {
  text-align: center;
  margin-bottom: 20px;
}

  #timeline {
    /* width: 800px; */
    height: 350px;
    overflow: hidden;
    margin: 100px auto;
    position: relative;
    background: url('../img/dot.gif') left 45px repeat-x;
		margin-top: -500px;
    margin-bottom: 200px;
		width: 56%;
  }
    #dates {
      width: 800px;
      height: 60px;
      overflow: hidden;
    }
      #dates li {
        list-style: none;
        float: left;
        width: 100px;
        height: 50px;
        font-size: 15px;
        text-align: center;
        background: url('../img/biggerdot.png') center bottom no-repeat;
      }
        #dates a {
          line-height: 38px;
          padding-bottom: 10px;
        }
        #dates .selected {
              font-size: 27px;
        }

    #issues {
      width: 800px;
      height: 350px;
      overflow: hidden;
    }
      #issues li {
        width: 800px;
        height: 350px;
        list-style: none;
        float: left;
      }

        #issues li img {
          float: left;
          margin: 10px 30px 10px 50px;
          background: transparent;
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */


        }
        #issues li h1 {
          color: #0F9858;
          font-size: 48px;
          margin: 20px 0;

        }
        #issues li p {
          font-size: 14px;
          margin-right: 70px;
          font-weight: normal;
          line-height: 22px;
        }

    #grad_left,
    #grad_right {
      width: 100px;
      height: 350px;
      position: absolute;
      top: 0;
    }
      /* #grad_left {
            left: 0;
            background: url('../images/grad_left.png') repeat-y;
      }
      #grad_right {
            right: 0;
            background: url('../images/grad_right.png') repeat-y;
      } */

    #next,
    #prev {
      position: absolute;
      top: 0;
      font-size: 70px;
      top: 170px;
      width: 22px;
      height: 38px;
      background-position: 0 0;
      background-repeat: no-repeat;
      text-indent: -9999px;
      overflow: hidden;
    }
      #next:hover,
      #prev:hover {
        background-position: 0 -76px;
      }
      #next {
        right: 0;
        background-image: url('../img/next.png');
      }
      #prev {
        left: 0;
        background-image: url('../img/prev.png');
      }
        #next.disabled,
        #prev.disabled {
          opacity: 0.2;
        }


/* timeline style end */

#timeline1 {
	font-family: 'Cabin', sans-serif;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	margin-top: -470px;
	margin-bottom: 520px;
}

.banner-transition {
	position: absolute;
  top: 60px;
  z-index: 1;
  height: 150px;
  width: 100%;
}

.partner-container {
	width: 75%;
	margin: 0 auto;
	display: block;
}
.partners {
	display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-left: auto;
  margin-top: 90px;
  margin-right: auto;
}

.partners2{
	display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-left: auto;
  margin-top: 90px;
  margin-right: auto;
}

.customer-logos {
	width: 200px;
  margin: 0 auto;
}





.unlock-p {
	color: black;
	background-color: #f7f7f7;
	padding: 30px;
	font-size: 28px;
	line-height: 40px;
	font-weight: bold;
	text-align: left;
}



.banner-text-small-3-technology {
	font-size: 41px;
	padding-left: 500px;
	padding-top: 0px;
	width: 80%;
	text-align: left;
	margin-top: 10px;
}

.technology-img-left {
	width: 60px;
	display: block;
	margin: 0 auto;
}


#hariy {
	float: left;
	margin-left: 100px;
	margin-top: -220px;
	text-align: left;
	padding: 0;
	padding: 15px 8px 12px 18px;

	}

#handle{
  font-family: 'Cabin', sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  color: #7b7878;
  text-align: left;
  margin-left: -20px;
	padding: 15px 8px 12px 18px;
	font-size: 22px;

}
.sidenav a.hairy,.sidenav a.handle{
	font-size: 15px;
}
.short-intro-h2-products-hairy{

  font-family: 'Cabin', sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  text-align: left;
  margin-left: -20px;
  color: #484040;
  font-size: 29px;


}
.short-intro-p-technology{
	font-size: 17px;
	font-family: 'Cabin', sans-serif;
	text-align: justify;

}

.technology-background-headding {
	color: black;
	background-color: #f7f7f7;
	padding: 20px;
	font-size: 23px;
	width: 80%;
	font-weight: bold;
	text-align: left;
}
.content-technology {
	width: 90%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 341px;
	margin-top: 500px;
	padding-left: 150px;
}

.short-intro-h2-phytotechnicals{

  font-family: 'Cabin', sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  text-align: left;
  margin-left: -20px;
  font-size: 29px;
  color: #484040;

}

.mainlogos-technology{
	width: 80%;
	margin: 0 auto;
	display: block;
}

.short-intro-h2-technology{
font-family: 'Cabin', sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  text-align: left;
  margin-left: -20px;
  font-size: 29px;
  color: #484040;
}


#img-tech{
	width: 30%;
  float: right;
	margin-left:30px;
}
.company-technology, .application-technology {
    font-size: 22px;
    padding-top: 20px;
    font-weight: bold;
}

.content-product1 {
	margin: 0 auto;
  position: relative;
  padding-bottom: 341px;
  padding-left: 75px;
  width: 100%;
  margin-top: 500px;
}

.banner-transition-tech2{
	width: 70%;
	float: left;
	height: 100px;
	margin-top: -20px;
	margin-left: -10px;
}


#nutrient-delivery-tech{
	text-align: left;
	padding: 0;
	margin-bottom: -40px;
	color: white;
	font-size: 41px;
}


.short-intro-p-tech{
	font-size: 17px;
	line-height: 40px;
	font-family: 'Cabin', sans-serif;
	text-align: justify;
	float: left;
}

.massive{
	text-align: left;
	padding: 0;
			padding-bottom: 0px;
	margin-bottom: 0px;
	line-height: 30px;
	margin-top: 50px;
	font-family: 'Cabin', sans-serif;
	letter-spacing: -1px;
	font-weight: bold;
	color: #7b7878;
	margin-left: 0px;
	color: #484040;
	font-size: 29px;
	padding-bottom: 6px;
}



.short-intro-h2-products{
	font-size: 29px;
	text-align: left;
	padding: 0;
	margin-bottom: 0px;
	line-height: 30px;
	margin-top: 50px;
	font-family: 'Cabin', sans-serif;
	letter-spacing: -1px;
	font-weight: bold;
	margin-left: 0px;
	padding-bottom: 15px;
	color: #484040;
}

.amf-product{
}

.container-investor {
	border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: inline-block;
  width: 400px;
  font-family: 'Cabin', sans-serif;
  margin-left: 200px;
  vertical-align: top;
}

#nutrient-delivery-investor{
	text-align: left;
  padding: 0;
  color: #7b7878;
  font-size: 24px;
  margin-bottom: 70px;
}

.banner-transition-investor{
	float: left;
	margin-top: -20px;
	margin-left: -10px;
	width: 20%;
	height: 100px;
	margin-right: 50px;
}
.short-intro-about-scientific-investor{
  margin-top: 250px;
  margin-left: 150px;
}

.technology-img-left-2{
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	width: 60px;
}

.technology-img-left-3{
	width: 90%;
}

.short-intro-about-scientific-about{
	display: block;
	margin: 0 auto;
	width: 140%;
	margin-left: -100px;
	margin-top: -222px;
}
.short-intro-about-scientific-about-2{
	width: 67%;
	display: block;
	margin: 0 auto;
	width: 140%;
	margin-left: -100px;
}


#timeline1 {
    font-family: 'Cabin', sans-serif;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 520px;
}

#banner-img-about{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 400px;
	position: absolute;
	display: block;
	z-index: 1;
	margin-left: 150px;
}

.team1{
	display: block;
  margin: 0 auto;
	width: 90%;
	margin-left: 250px;
	margin-top: 100px;
}
.c1{
	display: inline-block;
	width: 27%;
  margin-right: 20px;
	vertical-align: top;
}

.c1-img-1{
	width: 140px;
	display: block;
	margin: 0 auto;
}

.team2{
	display: block;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  margin-left: 250px;
}
.c2{
	display: inline-block;
	width: 27%;
  margin-right: 20px;
	vertical-align: top;
}

.c1-img-2{
	width: 140px;
	display: block;
	margin: 0 auto;
}

.team3{
	display: block;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  margin-left: 400px;
}
.c3{
	display: inline-block;
	width: 27%;
  margin-right: 20px;
	vertical-align: top;
}

.c1-img-3{
	width: 140px;
	display: block;
	margin: 0 auto;
}

.team4{
	display: block;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  margin-left: 250px;
	width: 150%;
  margin-left: 0px;
}
.c4{
	display: inline-block;
	width: 27%;
  margin-right: 20px;
	vertical-align: top;
}

.c1-img-4{
	width: 140px;
	display: block;
	margin: 0 auto;
}

.team5{
	display: block;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  margin-left: 250px;
	width: 150%;
  margin-left: 0px;
}
.c5{
	display: inline-block;
	width: 27%;
  margin-right: 20px;
	vertical-align: top;
}

.c1-img-5{
	width: 140px;
	display: block;
	margin: 0 auto;
}

.team6{
	display: block;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  margin-left: 400px;
}
.c6{
	display: inline-block;
	width: 27%;
  margin-right: 20px;
	vertical-align: top;
}

.c1-img-6{
	width: 140px;
	display: block;
	margin: 0 auto;
}

.team7{
	display: block;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  margin-left: 250px;
}
.c7{
	display: inline-block;
	width: 27%;
  margin-right: 20px;
	vertical-align: top;
}

.c1-img-7{
	width: 140px;
	display: block;
	margin: 0 auto;
}
.c8 {
	display: inline-block;
	width: 27%;
	margin-right: 20px;
	vertical-align: top;
}
.c9,.c10,.c11,.c12,.c13,.c14,.c15,.c16{
	display: inline-block;
	width: 27%;
	margin-right: 20px;
	vertical-align: top;
	border: 2px solid green;
  padding: 10px;
  height: 890px;
  margin-bottom: 20px;
}
.c1,.c2,.c3 {
	border: 2px solid green;
	padding: 10px;
	height: 895px;
	margin-bottom: 20px;
	    overflow: hidden;
}
.c4,.c5,.c6 {
	border: 2px solid green;
	padding: 10px;
	height: 675px;
	margin-bottom: 20px;
	border: 2px solid green;
padding: 10px;
height: 820px;
margin-bottom: 20px;
    overflow: hidden;
}

.c7,.c8 {
	border: 2px solid green;
	padding: 10px;
	height: 585px;
	margin-bottom: 20px;
    height: 700px;
    margin-bottom: 20px;
		    overflow: hidden;
}
.c9,.c10,.c11,.c12,.c13,.c14 {
	border: 2px solid gray;
	padding: 10px;
	height: 670px;
	margin-bottom: 20px;
	border: 2px solid gray;
    padding: 10px;
    height: 460px;
    margin-bottom: 20px;
		    overflow: hidden;
}
.c15,.c16 {
	border: 2px solid gray;
	padding: 10px;
	height: 690px;
	margin-bottom: 20px;
	border: 2px solid gray;
	padding: 10px;
	height: 830px;
	margin-bottom: 20px;
	    overflow: hidden;
}
p.h4-team {
	color: #636466;
	font-weight: bold;
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.p-team {
	color: #0F9858;
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 0;
}

p.p-team-2{
  font-size: 14px;
}

.sidenav a.scroll {
    font-size: 15px;
}










.content-technology {
	width: 90%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 341px;
	margin-top: 580px;
	padding-left: 200px;
}

.content-service {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 341px;
    margin-top: 550px;
    padding-left: 65px;
}

.team1,.team2,.team3,.team4.team5.team5,.team6 {
	width: 150%;
  margin-left: 0;
}


.sidenav {

}

.artical {

}

.banner-text-3-product {
    text-align: center;
    position: absolute;
    top: 260px;
    left: 230px;
    width: auto;
    height: auto;
    font-family: 'Cabin', sans-serif;
    font-size: 65px;
    color: rgb(255, 254, 254);
    line-height: 1.3;
    padding: 5px;
    box-sizing: border-box;
    right: 30px;
    font-weight: bold;
    margin-left: -520px;
    z-index: 1;
}

.content-product1 {
	width: 90%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 341px;
	margin-top: 600px;
	padding-left: 200px;
}
.banner-transition-product {
    position: absolute;
    top: 250px;
    z-index: 1;
    height: 150px;
    width: 100%;
}

.banner-img-product {
    width: 100%;
    position: absolute;
    top: 60px;
    height: 500px;
    display: block;
    z-index: 1;
}


.banner-img-service {
    width: 100%;
    position: absolute;
    top: 60px;
    height: 500px;
    display: block;
    z-index: 1;
}

.banner-transition-service {
	position: absolute;
	top: 250px;
	z-index: 1;
	height: 150px;
	width: 100%;
}


.banner-text-3-service {
    text-align: center;
    position: absolute;
    top: 280px;
    left: 230px;
    width: auto;
    height: auto;
    font-family: 'Cabin', sans-serif;
    font-size: 65px;
    color: rgb(255, 254, 254);
    line-height: 1.3;
    padding: 5px;
    box-sizing: border-box;
    right: 30px;
    font-weight: bold;
    margin-left: -520px;
    z-index: 1;
}
.content-service {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 341px;
    margin-top: 600px;
    padding-left: 200px;
}

.content-investor {
    margin: 0 auto;
    position: relative;
    padding-bottom: 341px;
    padding-left: 230px;
    width: 99%;
    margin-top: 200px;
}

.content-about {
    position: relative;
    top: 260px;
    padding-bottom: 341px;
    max-width: 50%;
    padding-left: 35px;
    padding-top: 0px;
    margin: 700px auto 0px;
		margin-left: 320px;
}

.banner-img-about {
  max-height: 620px;
	width: 100%;
	position: absolute;
	top: 75px;
	height: auto;
	display: block;
	z-index: 1;
}
.investor-last-content {
	margin-top: 200px;
}

#p22{
	/* height: 350px; */
}

.sidenav a.right-side{
	padding-left: 60px;
  margin-top: -10px;
}
/* @import url(https://fonts.googleapis.com/css?family=Raleway); */
/* .top-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: #FFF;
	height: 120px;
	padding: 1em;
} */

/* .menu-mobile {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-mobile > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
} */
.top-nav {
	display: none;
}

a.mobile-nav {
	color: #ffffff;
	text-decoration: none;
  padding-top: 15px;
}
a.mobile-nav:hover{
	color: #bae6d2;
}

.main-nav {
	padding: 15px;
}
a.main-nav{
  color: #808080;
}
a.main-nav:hover {
	color: #ffffff;
	background-color: #60c388;
}

a.selected-nav {
	color: #ffffff;
	background-color: #60c388;
}


#more {display: none;}
#more2 {display: none;}
#more3 {display: none;}

.logos2,.logos3,.logos4 {
	width: 25%;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	margin-right: 50px;
	line-height: 25px;
	margin-bottom: 40px;
	font-size: 16px;
	font-family: 'Cabin', sans-serif;
}

.application,.company{
	text-align: center;
  font-size: 30px;
  padding-top: 20px;
  font-weight: bold;
}

.banner-transition-tech2-products{
	width: 70%;
  height: 100px;
  margin-top: -22px;
  margin-left: -10px;
  float: left;
}

.banner-transition-tech2-products-technology{
	width: 100%;
	height: 80px;
	margin-top: -32px;
	margin-left: -10px;
	float: left;
}
.banner-transition-tech2-3 {
    width: 70%;
    float: left;
    height: 100px;
    margin-top: -30px;
    margin-left: -10px;
}

.short-intro-h2-products-4 {
    font-size: 29px;
    text-align: left;
    padding: 0;
    margin-bottom: 0px;
    line-height: 30px;
    font-family: 'Cabin', sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
    margin-left: 0px;
    padding-bottom: 15px;
    color: #484040;
		margin-top:250px;
}



.banner-transition-tech2-products-technology-service{
	width: 70%;
	float: left;
	height: 60px;
	margin-top: -20px;
	margin-left: -10px;
}



.c9, .c10, .c11, .c12, .c13, .c14 {
	height: 550px;
}

.c15, .c16 {
	height: 490px;
}

.c7, .c8 {
    height: 540px;
}

.c1, .c2, .c3 {
	height: 640px;
}

.c4, .c5, .c6 {
    height: 615px;
}

.banner-img-main{
	top: 130px;
	max-height: 500px;
	width: 100%;
	position: absolute;
	height: auto;
	display: block;
	z-index: 1;
}


.banner-transition-main {
	position: absolute;
  top: 250px;
  z-index: 1;
  height: 150px;
  width: 100%;

}

.banner-text-3-main{
	text-align: center;
	position: absolute;
	top: 270px;
	left: 230px;
	width: auto;
	height: auto;
	font-family: 'Cabin', sans-serif;
	font-size: 65px;
	color: rgb(255, 254, 254);
	line-height: 1.3;
	padding: 5px;
	box-sizing: border-box;
	right: 30px;
	font-weight: bold;
	margin-left: -520px;
	z-index: 2;
}
.banner-text-small-3-main{
	font-size: 20px;
	padding-left: 500px;
	padding-top: 0px;
}


@media (max-width: 780px) {

}

@media (max-width: 1272px) {
	.menu {
		display: none;
	}
	@import url(https://fonts.googleapis.com/css?family=Raleway);
	.top-nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		color: #FFF;
		height: 120px;
		padding: 1em;
	}
	.menu-mobile {
	  display: flex;
	  flex-direction: row;
	  list-style-type: none;
	  margin: 0;
	  padding: 0;

	}

	.menu-mobile > li {
	  margin: 0 1rem;
	}

	.menu-button-container {
	  display: none;
	  height: 100%;
	  width: 30px;
	  cursor: pointer;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	}

	#menu-toggle {
	  display: none;
	}

	.menu-button,
	.menu-button::before,
	.menu-button::after {
		display: block;
	  background-color: green;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    z-index: 99;
	}

	.menu-button::before {
	  content: '';
	  margin-top: -8px;
	}

	.menu-button::after {
	  content: '';
	  margin-top: 8px;
	}

	#menu-toggle:checked + .menu-button-container .menu-button::before {
	  margin-top: 0px;
	  transform: rotate(405deg);
	}

	#menu-toggle:checked + .menu-button-container .menu-button {
	  background: rgba(255, 255, 255, 0);
	}

	#menu-toggle:checked + .menu-button-container .menu-button::after {
	  margin-top: 0px;
	  transform: rotate(-405deg);
	}
  .menu-button-container {
    display: flex;
  }
  .menu-mobile {
    position: absolute;
    top: 0;
    margin-top: 110px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
		height: auto;
    overflow: hidden;
  }
  #menu-toggle ~ .menu-mobile li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
		transition: background-color 1s ease-out;
  }
  #menu-toggle:checked ~ .menu-mobile li {
		background-color: #0a8429;
	border: 1px solid #119a34;
	height: 3.5em;
	padding: 0.5em;
	 transition: background-color 1s ease-out;
	color: white;
	font-weight: bold;
	font-size: 18px;

  }
  .menu-mobile > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu-mobile > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}


.products-icons {
	    margin-top: 100px;
}



.product-66{
	display: inline-block;
    width: 30%;
    margin-right: 100px;
    vertical-align: top;
}

.product-77{
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

.product-66-2 {
    display: inline-block;
    width: 30%;
    margin-right: 100px;
    vertical-align: top;
    background-color: #f1f1f1;
    padding: 20px;
}

.product-77-3 {
    display: inline-block;
    width: 30%;
    margin-right: 100px;
    vertical-align: top;
    background-color: #f1f1f1;
    padding: 20px;
}

.img-product-icons{
	height: 85px;
	width: 80px;
	display: block;
	margin: 0 auto;
}
.img-product-icons2{
	width: 60px;
  display: block;
  margin: 0 auto;

}
.img-product-icons2-new {
    width: 80px;
    display: block;
    margin: 0 auto;
    height: 80px;
}
.products-icons-vito {
	line-height: 30px;
	color: #484040;
	font-size: 29px;
	font-family: 'Cabin', sans-serif;
	letter-spacing: -1px;
	font-weight: bold;
}



.banner-text-small-3-technology22 {
    font-size: 41px;
    padding-left: 500px;
    padding-top: 0px;
    width: 80%;
    text-align: left;
    margin-top: -10px;
}


.ch-logos {
	width: 140px;
  height: 110px;
}


.logos3-p {
	    margin-top: -13px;
}

.banner-transition-tech2-products-technology44 {
		width:100%;
    float: left;
    height: 100px;
    margin-top: -20px;
    margin-left: -10px;
}


.banner-text-small-3-service-4 {
    font-size: 41px;
    padding-left: 500px;
    padding-top: 0px;
    width: 80%;
    text-align: left;
    margin-top: -10px;
}

.short-intro-h2-service-2{
	width: 70%;
	float: left;
	height: 80px;
	margin-top: -20px;
	margin-left: -10px;
}

#nutrient-delivery-service5 {
    text-align: left;
    padding: 0;
    margin-bottom: -32px;
    color: white;
    font-size: 41px;
		width: 70%;
}

.short-intro-p-serv {
    font-size: 17px;
    line-height: 42px;
    font-family: 'Cabin', sans-serif;
    text-align: justify;
    padding-top: 30px;
}

#project-type{
    margin-top: 100px;
}

.why-us {
	margin-top: 100px;
}

.left-service-icons{
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	width: 50px;
	height: 50px;
}


#handle-service {
    font-family: 'Cabin', sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: left;
    margin-left: -20px;
    padding: 15px 8px 12px 18px;
    font-size: 29px;
    margin-top: 80px;
    color: #484040;
}



#nutrient-delivery-tech3333 {
    text-align: left;
    padding: 0;
    margin-bottom: -40px;
    color: white;
    font-size: 41px;
}



.banner-transition-tech2-products-technology443 {
    width: 100%;
    float: left;
    height: 100px;
    margin-top: -20px;
    margin-left: -10px;
    margin-bottom: 80px;
}










@media screen and (max-width: 1830px) {

  .mainlogos {
    width: 53%;
    margin: 0 auto;
    display: block;
}

}

@media screen and (max-width: 1855px) {
  .mainlogos {
    width: 55%;
    margin: 0 auto;
    display: block;
}
.banner-transition-tech2-products-technology44 {
    width: 100%;
    float: left;
    height: 120px;
    margin-top: -37px;
    margin-left: -10px;
}
#nutrient-delivery-tech3333 {
    text-align: left;
    padding: 0;
    margin-bottom: -64px;
    color: white;
    font-size: 41px;
    line-height: 45px;
    margin-top: 50px;
    font-family: 'Cabin', sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
    margin-left: 0px;
}

}


@media screen and (max-width: 1730px) {
	.banner-img-main {
    top: 130px;
    max-height: 420px;
    width: 100%;
    position: absolute;
    height: auto;
    display: block;
    z-index: 1;
}
  .mainlogos {
    width: 55%;
    margin: 0 auto;
    display: block;
}
.short-intro-about-scientific-about {
    display: block;
    margin: 0 auto;
    width: 67%;
    margin-top: -240px;
    width: 140%;
    margin-left: -100px;
}

}




@media screen and (max-width: 1530px) {
  .mainlogos {
    width: 50%;
    margin: 0 auto;
    display: block;
}
.short-intro-about-scientific-about {
    display: block;
    margin: 0 auto;
    width: 67%;
    margin-top: -350px;
    width: 140%;
    margin-left: -100px;
}

}

@media (max-width: 1370px) {
	.short-intro-about-scientific-about {
	    display: block;
	    margin: 0 auto;
	    margin-top: -250px;
	    width: 140%;
	    margin-left: -100px;
	}
}

@media screen and (max-width: 1400px) {

.products-icons {
    margin-top: 100px;
    margin-left: 200px;
}
.banner-text-small-3-technology22 {
    font-size: 31px;
    padding-left: 500px;
    padding-top: 0px;
    width: 80%;
    text-align: left;
    margin-top: -10px;
}

.banner-transition-tech2-products-technology44 {
    width: 100%;
    float: left;
    height: 120px;
    margin-top: -37px;
    margin-left: -10px;
}
#nutrient-delivery-tech3333 {
    text-align: left;
    padding: 0;
    margin-bottom: -64px;
    color: white;
    font-size: 41px;
    line-height: 45px;
    margin-top: 50px;
    font-family: 'Cabin', sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
    margin-left: 0px;
}
}
@media screen and (max-width: 1300px) {
  .mainlogos {
    width: 59%;
    margin: 0 auto;
    display: block;
}

#nutrient-delivery-service5 {
    text-align: left;
    padding: 0;
    margin-bottom: -32px;
    color: white;
    font-size: 31px;
    width: 70%;
}

.banner-text-small-3-service-4 {
    font-size: 29px;
    padding-left: 500px;
    padding-top: 0px;
    width: 80%;
    text-align: left;
    margin-top: -10px;
}

.short-intro-about-scientific-about {
    display: block;
    margin: 0 auto;
    margin-top: -260px;
    width: 140%;
    margin-left: -100px;
}

.products-icons {
    margin-top: 100px;
    margin-left: 200px;
}

#nutrient-delivery-tech3333 {
    text-align: left;
    padding: 0;
    margin-bottom: -64px;
    color: white;
    font-size: 29px;
    line-height: 45px;
    margin-top: 50px;
    font-family: 'Cabin', sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
    margin-left: 0px;
}
}

@media screen and (max-width: 1100px) {
  .mainlogos {
    width: 70%;
    margin: 0 auto;
    display: block;
}
.banner-transition-tech2-products {
    width: 100%;
    height: 80px;
    margin-top: -44px;
    margin-left: -10px;
    float: left;
}

}


@media screen and (max-width: 905px) {
  .mainlogos {
    width: 83%;
    margin: 0 auto;
    display: block;
}


}

@media screen and (max-width: 1430px) {
	.banner-img-main {
    top: 130px;
    max-height: 380px;
    width: 100%;
    position: absolute;
    height: auto;
    display: block;
    z-index: 1;
}

}


@media screen and (max-width: 1366px) {
	.banner-img-main {
		top: 130px;
		max-height: 345px;
		width: 100%;
		position: absolute;
		height: auto;
		display: block;
		z-index: 1;
}
	.banner-transition-tech2-products-technology {
    width: 100%;
    height: 80px;
    margin-top: -37px;
    margin-left: -10px;
    float: left;
}
	.banner-img-product {
    width: 100%;
    position: absolute;
    top: 60px;
    height: auto;
    display: block;
    z-index: 1;
}
.banner-img-about {
    width: 100%;
    position: absolute;
    top: 120px;
    height: auto;
    display: block;
    z-index: 1;
}

.content-about {
    position: relative;
    top: 170px;
    padding-bottom: 341px;
    max-width: 50%;
    padding-left: 35px;
    padding-top: 0px;
    margin: 700px auto 0px;
}

	.hid {
		width: 163px;
	}
	.content-product1 {
		margin: 0 auto;
	  position: relative;
	  padding-bottom: 341px;
	  padding-left: 75px;
	  width: 100%;

	}

	.content-product1 {
    margin: 0 auto;
    position: relative;
    padding-bottom: 341px;
    padding-left: 75px;
    width: 100%;
    margin-top: 530px;
}
	.content-service {
		width: 90%;
		margin: 0 auto;
		position: relative;
		padding-bottom: 341px;
		margin-top: 580px;
		padding-left: 65px;
	}

	.content-technology {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 341px;
  	margin-top: 570px;
    padding-left: 65px;
}
	#short-intro-p {
			margin-left: 0px;
	}

.short-intro-about,.short-intro-about-scientific,.short-intro-about-scientific,.succeed{
	width:75%;

}
#short-intro-p-products,.short-intro-p-feeding,.short-intro-about > p,.short-intro-about-scientific >p,.succeed > p {
	line-height: 40px;
}
.succeed {
	margin-bottom: 20px;
}

}

@media screen and (max-width: 1200px) {
	.pages-wrapper {
	    margin-top: 240px;
	}
}

@media screen and (max-width: 1100px) {


	.banner-img-service {
	    width: 100%;
	    position: absolute;
	    top: 60px;
	    height: 500px;
	    display: block;
	    z-index: 1;
	}

	.banner-transition-service {
		position: absolute;
		top: 250px;
		z-index: 1;
		height: 150px;
		width: 100%;
	}


	.banner-text-3-service {
	    text-align: center;
	    position: absolute;
	    top: 280px;
	    left: 230px;
	    width: auto;
	    height: auto;
	    font-family: 'Cabin', sans-serif;
	    font-size: 65px;
	    color: rgb(255, 254, 254);
	    line-height: 1.3;
	    padding: 5px;
	    box-sizing: border-box;
	    right: 30px;
	    font-weight: bold;
	    margin-left: -520px;
	    z-index: 1;
	}
	.content-service {
	    width: 90%;
	    margin: 0 auto;
	    position: relative;
	    padding-bottom: 341px;
	    margin-top: 600px;
	    padding-left: 120px;
	}

	.content-product1 {
		margin: 0 auto;
	  position: relative;
	  padding-bottom: 341px;
	  padding-left: 150px;
	  width: 100%;

	}

	.content-product1 {
    margin: 0 auto;
    position: relative;
    padding-bottom: 341px;
    padding-left: 150px;
    width: 100%;
    margin-top: 500px;
}

	.content-technology {
	    width: 90%;
	    margin: 0 auto;
	    position: relative;
	    padding-bottom: 341px;
	    margin-top: 580px;
	    padding-left: 135px;
	}
	.content-about{
		margin: 0 auto;
		position: relative;
		top: 200px;
		padding-bottom: 341px;
		padding-top: 40px;
		max-width: 50%;
		margin-top: 600px;
		padding-left: 130px;
	padding-top: 0px;
	}



	.banner-img-service {
    width: 100%;
    position: absolute;
    top: 60px;
    height: auto;
    display: block;
    z-index: 1;
}

.content-service {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 341px;
    margin-top: 500px;
    padding-left: 120px;
}

}


@media screen and (max-width: 780px) {
#issues li img {
	width: 250px;
	height: 170px;

}

.banner-text-small-3-technology {
    font-size: 30px;
    padding-left: 500px;
    padding-top: 0px;
    width: 100%;
    text-align: left;
    margin-top: 10px;
}



#issues li p {
	position: absolute;
  top: 40px;
  left: 20px;
  width: 52px;
  all: inherit;
  font-size: 10px;
  margin-left: 0;
  margin-top: 10px;
}
#issues li h1 {
	display: none;
}
#timeline {

	margin-bottom: 20px;
}

	#img-1111,#img-3333,#img-5555,#img-6666,#img-7777 {
		width: 90%;
	}
	#short-intro-p {
	    margin-left: 0;
	}

	.header-separator{
		z-index: 99;
	}
	#jssor_1 {
	    margin-top: 130px;
		}
	.logoss-container {
		left:340px!important;
		width: 80%!important;
		display: block!important;
		margin: 0 auto!important;
		width: 90%!important;
		right: 0!important;
		left: 0px!important;
	}

	.hid {
		display: none;
	}

	#logoss-container {
		top: -493px;
		width: 85%;
		margin:0 auto;
		margin-left: 30px;
		margin-right: 10px;
	}


	#logo-link {
		display: block;
		margin: 12px 40px;
	}
		#logo-link img {
	    margin-top: 0px;
	}
	.menu-wrapper {
		width: 100%;
	}
	.menu {
		width: 75%;
	}

	.menu img {
		display: block;
		margin: 0 auto;
		margin-top: 20px;
	}
	.button {
		margin-left: 120px;
	}

	.button {
		opacity: 1;
	}
	.logos-img{
		margin-top: 10px;
		width: 100px;
	}
	.logos1 {
		box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
		margin-top: 10px;
	}

	.logos2 {
		box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
		margin-top: 10px;
	}

	.logos3 {
		box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
		margin-top: 10px;
	}

	.menu-entries {
		display: none;
	}
	#logos-img{
		width:100px !important;
	}
	#jssor_1 {
		width: 100%;
	}
	.short-intro,.join-us-p {
		width: 90%;
	}

	.mainlogos,.logo-container,.contact-form,.join-us,.container,.frame{
		width: 100%;
	}

	.logos1,.logos2,.logos3 {
		width: 88%;
		margin-bottom: 100px;
	}

	.frame iframe {
		width: 90%;
	}
	.frame {
	    margin-top: 70px;
	}

	.contact {
		margin-left: 115px;
	}

	.buro {
			margin-left: 20px;
	}

	.office {
	    margin-left: 18px;
	}

	.www {
	    margin-left: 13px;
	}

	.footer-left {
	    margin-left: -150px;
	}

	.contact {
		margin-left: 100px;
	}
	.footer-right {
	    float: none;
	}

	.ul-footer {
		margin-left: -165px;
	}

	.home {
		display: none;

	}

	.impli {
		margin-left: 20px;
	}

	.ul-footer {
		margin-left: 250px;
	}

	.footer-left p.buro {
	    margin-left: 18px;
	}
	.short-intro-p {
		text-align: left;

	}

	.join-us-p {
		text-align: left;
	}

	.contact-form h1 {
    font-size: 20px;
    color: #0E986C;
	}

	.content-about {
		width: 100%;

	}

	.sidenav {
		display: none;
	}

	.short-intro-h2-products {
    width: 320px;
		line-height: 40px;

	}

	.fertilizer-img {
		width: 100%;
	}
	.short-intro-p-left-down-products {
		line-height: 30px;
	}
	.short-intro-about-scientific-last-products {
		margin-bottom: 0px;
	}

	.menu-entries {
		display: block;
		float: none;
		width: 449px;
		margin-left: -52px;
	}
	.tooltip {
		margin-left: 0px;
    width: 132px;
	}
	.tooltip2 {
		margin-left: -44px;
		width: 133px;
	}

	.tooltip3 {
		margin-left: -45px;
		width: 133px;
	}

	.content-about {
	    padding-top: 20px;
	}

	.header-separator {
		position: relative;
    top: 3px;
	}

	.menu-wrapper {
		position: relative;
	}

	.menu-wrapper-home {
		  top: 0px;
	    position: fixed;
	    background: white;
	    width: 100%;
	    z-index: 80;
	}




 #header-separator-home {
	 background: url(../img/header-separator.png) left top repeat-x;
    width: 100%;
    position: fixed;
    top: 125px;
    height: 4px;
 }

 .tooltip2 {
	 margin-right: 40px;
 }

 .tooltip {
   margin-right: 24px;
 }

 .menu-entries {
   width: 412px;
 }

 #menu-entry-1, #menu-entry-2 {
    margin-right: 34px;
}

.short-intro-about {
	width: 85%;
}
.short-intro-p-about {
    width: 100%;
}

.short-intro-h2-about {
	line-height: 40px;
}


.content-team {
	width: 95%;
}

.short-intro-about {
	width: 85%;
}


.short-intro-h2-about-fail {
	line-height: 40px;
  font-size: 30px;
}

.agb-h31 {
	margin-bottom: 120px;
}
.team-div-ceo {
	width: 100%;
  height: 400px;
  margin-bottom: 200px;
}

.team-ceo {
  margin-left: 30px;
  margin-top: 80px;
}


.team-text-left-ceo {
	width: 100%;
  margin-top: 40px;
}


.team-img-ceo {
	top: -530px;
	left: 30px;
	width: 50%;
}

.team-div-res {
	width: 100%;
  height: 400px;
  margin-bottom: 200px;
}

.team-res {
	margin-left: 136px;
  margin-top: 80px;
}


.team-text-left-res {
	width: 100%;
  margin-top: 40px;
}


.team-img-res {
	top: -530px;
	left: 30px;
	width: 50%;
}



.team-div-fin {
	width: 100%;
  height: 400px;
  margin-bottom: 200px;
}

.team-fin {
	margin-left: 136px;
  margin-top: 80px;
}


.team-text-left-fin {
	width: 100%;
  margin-top: 40px;
}


.team-img-fin {
	top: -530px;
	left: 30px;
	width: 50%;
}




.team-div-des {
	width: 100%;
  height: 400px;
  margin-bottom: 200px;
}

.team-des {
	margin-left: 136px;
  margin-top: 80px;
}


.team-text-left-des {
	width: 100%;
  margin-top: 40px;
}


.team-img-des {
	top: -530px;
	left: 30px;
	width: 50%;
}


.short-intro-about {
	text-align: left;
  font-size: 17px;
  line-height: 25px;
}


.team-img-res {
	position: relative;
	top: -120px;
	left: 70px;
}

.team-res {
	position: relative;
	top: 20px;
	left: -122px;
}
.team-text-left {
	width: 100%;
}
.team-div-res {
    height: 340px;
}

.team-img-res {
	position: relative;
  top: -120px;
  left: 70px;
}

.team-res {
	position: relative;
	top: 2px;
	left: -122px;
}

.team-text-left {
	width: 100%;
  float: left;
  margin-top: -1px;
}


.team-div-fin {
	position: relative;
	height: 340px;
}


.team-fin {
	position: relative;
  top: 14px;
}


#fin {
	margin-top: 60px;
}

.team-img-fin {
	position: relative;
	top: -440px;
}


.team-div-des {
	height: 300px;

}

.team-img-des {
	position: relative;
	top: -120px;
	left: 70px;
}

.team-des {
	position: relative;
	top: -98px;
	left: -39px;
}

#des {
  margin-top: -80px;
}

#board {
    margin-top: -80px;
}

#timeline {
	width: 95%;
}


.timeline-img {
	margin-left: 60px;
}


.timeline-img-center {
	position: relative;
  top: 40px;
  left: -70px;
  height: 130px;
}


.team-res {
	position: relative;
  top: -100px;
  left: 50px;
}


.team-text-left {
	margin-top: -91px;
}


.team-fin {
	margin-left: 60px;
	margin-bottom: -20px;
}

.team-des {
	margin-left: 90px;
}

.menu {
	width: 100%;
}

.menu-entries {
	width: 100%;
	margin: 0 auto;
	float: right;
}

#menu-entry-1,#menu-entry-2,#menu-entry-3 {
	width: 33.3%;
}

.content-team {
	width: 80%;

}


.team-div-ceo {
    width: 100%;
    height: 420px;
    margin-bottom: 200px;
}

.team-ceo {
    margin-left: 25px;
    margin-top: 35px;
    font-size: 20px;
    margin-bottom: 13px;
}

.team-text-left-ceo {
    width: 100%;
    margin-top: 44px;
}


.team-img-ceo {
    top: -540px;
    left: 4px;
    width: 50%;
}

.team-res {
    margin-left: 0px;
    margin-top: 170px;
    font-size: 20px;
}

.team-img-res {
    position: relative;
    top: -89px;
    left: 45px;
}

.team-div-res {
    height: 400px;
}


.team-fin {
    margin-left: 33px;
    margin-bottom: -20px;
    font-size: 20px;
    margin-top: 55px;
}
.team-img-fin {
	left:10px;
}

.team-img-des {
    position: relative;
    top: -87px;
    left: 50px;
}

.team-des {
    margin-left: 85px;
    font-size: 20px;
    margin-top: 170px;
}


#des {
    margin-top: -90px;
}


.short-intro-h2 {
	font-size: 20px;
	width: 100%;
	line-height: 25px;
}


#board {
	width: 100%;
}

#logoss-container {
	width: 100%;
	margin: 0 auto;
}


.agb-h31 {
    margin-bottom: 120px;
    font-size: 30px;
}


.short-intro-h2-about-fail {
    line-height: 36px;
    font-size: 28px;
    font-family: 'Cabin', sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
}

#fail-text {
	width: 100%;
}
#logo-link{
	margin-left: 21%;
}

ul#short-intro-ul-li {
	margin-left: 0px;
}

}


@media screen and (max-width: 414px) {
	.team-img-ceo {
    top: -506px;
    left: 15px;
    width: 50%;
}

#short-intro-p {
    margin-left: 0;
}
.team-img-res {
    position: relative;
    top: -100px;
    left: 54px;
}

.team-img-fin {
    top: -459px;
}


.team-img-des {
    position: relative;
    top: -102px;
    left: 50px;
}


.short-intro-h2-about-fail {
	padding-bottom: 50px;
}

.team-ceo {
    margin-top: 50px;
}

.team-img-ceo {
	top: -522px;
}

.team-img-res {
	top: -125px;
}

.team-img-fin{
	left: -20px;
  top: -465px;
}

#hans-img {
    position: relative;
    top: -495px;
}

#christoph-img{
	top: -371px;
}


#soundingboard {
	margin-top: -550px;
}


}




@media screen and (max-width: 411px) {
	.team-img-fin {
    position: relative;
    top: -450px;
	}
	#short-intro-p {
    margin-left: 0;
	}
	.team-des {
    margin-left: 85px;
    font-size: 20px;
    margin-top: 184px;
	}

	.agb-h31 {
    margin-bottom: 150px;
	}

	.team-img-ceo {
    top: -505px;
    left: 10px;
    width: 50%;
	}
	.imp {
		margin-right:0px;
	}

	.mainlogos, .logo-container, .contact-form, .join-us, .container, .frame {
	    width: 96%;
	}
	.button {
		margin-left: 27%;
	}
	.office {
	    margin-left: 16px;
	}

	#menu-entries {
		width: 100%;
	  margin: 0 auto;
	  display: block;
	  float: right;
	}

	.bold {
	    margin-left: 10px;
	}
	.team-img-ceo {
		top: -520px;
	}

	.team-img-fin {
    position: relative;
    top: -466px;
}



}

@media screen and (max-width: 375px){
	.team-img-ceo {
	    top: -502px;
	    left: 4px;
	    width: 50%;
	}
	#short-intro-p {
	    margin-left: 0;
	}
	.team-img-res {
    position: relative;
    top: -98px;
    left: 52px;
}

.team-img-fin {
    position: relative;
    top: -452px;
    left: 20px;
}

.team-img-des {
    position: relative;
    top: -97px;
    left: 50px;
}

.team-img-fin {
    position: relative;
    top: -452px;
    left: 10px;
}

.contact-form{
    width: 96%;
}
.team-img-ceo {
		top: -542px;
		left: 10px;
		width: 50%;
}

.imp {
	margin-right:0px;
}

.mainlogos, .logo-container, .contact-form, .join-us, .container, .frame {
    width: 96%;
}
.button {
	margin-left: 27%;
}
.office {
    margin-left: 16px;
}

#menu-entries {
	width: 100%;
  margin: 0 auto;
  display: block;
  float: right;
}

.bold {
    margin-left: 20px;
}

.team-img-ceo {
    top: -560px;

}

.team-text-left-ceo {
    width: 100%;
    margin-top: 40px;
}
.team-img-res {
    position: relative;
    top: -118px;
    left: 52px;
}


.team-img-fin {
    position: relative;
    top: -452px;
    left: -23px;
}


}






@media screen and (max-width: 360px) {
	.footer-right {
		display: none;
	}
	#short-intro-p {
	    margin-left: 0;
	}
	.team-img-ceo {
	    top: -558px;
	    left: 4px;
	    width: 50%;
	}
	.team-div-ceo {
    width: 100%;
    height: 430px;
    margin-bottom: 200px;
	}

	.team-img-ceo {
		top: -590px;
	}

	.team-img-res{
		top: -118px;
	}


	.team-img-fin {
		top: -452px;
		left: -22px;
	}


}





@media screen and (max-width: 320px) {

	.footer {
		width:112%;
	}
	#jssor_1 {
		    margin: 130px auto 10px 20px;
		}
		#short-intro-p {
		    margin-left: 0;
		}
	.short-intro-h2-about-fail {
	    line-height: 36px;
	    font-size: 25px;
	    font-family: 'Cabin', sans-serif;
	    letter-spacing: -1px;
	    font-weight: bold;
	}

		.team-img-ceo {
	    top: -500px;
	    left: 0px;
	    width: 50%;
	}

	.team-text-left-ceo {
		font-size: 14px;
	}

	.team-ceo {
    margin-left: 10px;
}


.team-res {
    margin-left: -34px;
    margin-top: 150px;
    font-size: 20px;
}

.team-text-left {
	font-size: 14px;
}

.team-img-fin {
    position: relative;
    top: -389px;
    left: -4px;
}

.team-fin {
    margin-left: 13px;
    margin-bottom: -20px;
    font-size: 20px;
    margin-top: 45px;
}


.team-img-des {
    position: relative;
    top: -77px;
    left: 40px;
}


.team-des {
    margin-left: 55px;
    font-size: 20px;
    margin-top: 154px;
}

.short-intro-about {
	font-size: 14px;
}

.short-intro-p {
    text-align: left;
    font-size: 14px;
}

.bold {
	margin-left: 20px;
}
.team-img-res {
    position: relative;
    top: -79px;
    left: 40px;
}

.menu-entries {
    width: 112%;
    margin: 0 auto;
}
.short-intro-p-left-up {
	font-size: 14px;
}

.short-intro-p-feeding {
    font-size: 14px;

}

.short-intro-p-left-down-products {
    font-size: 14px;

}

.short-intro-h2-products {
    width: 240px;
    line-height: 30px;
		font-size: 26px;
}

#header-separator-rnd {
    position: relative;
    top: 3px;
		width: 111%;
}

#menu-entries-rnd {
    width: 110%;
    margin: 0 auto;
    float: none;
}


#menu-entries-products {
    width: 110%;
    margin: 0 auto;
    float: none;

}

#header-separator-products {
	width: 111%;
}


#menu-entries-about {
    width: 110%;
    margin: 0 auto;
    float: none;

}

#header-separator-about {
	width: 111%;
}


.short-intro-about{
	margin-right: 4px;

}



.content-team {
	margin-left: 50px;
}


.team-img-res {
	top: -110px;
}


.team-img-fin {
	left: -30px;
  top: -400px;
}

#logoss-container {
	display: none !important;
}

#board {
	margin-bottom: 220px;
}


#timeline {
    margin-top: -380px;
}






}
