*{
	   	padding: 0px;
	   	margin:0px;
	   	box-sizing: border-box;
}
/* @font-face { font-family: 'AvenirLTStd-Book';
    src: url('../fonts/AvenirLTStd-Book.woff') format('woff'),
    url('../fonts/AvenirLTStd-Book.ttf') format('truetype');
}
@font-face { font-family: 'AvenirLTStd-Heavy';
    src: url('../fonts/AvenirLTStd-Heavy.woff') format('woff'),
    url('../fonts/AvenirLTStd-Heavy.ttf') format('truetype');
}
@font-face { font-family: 'ITCAvantGardeStd-BkCn';
    src: url('../fonts/ITCAvantGardeStd-BkCn.woff') format('woff'),
    url('../fonts/ITCAvantGardeStd-BkCn.ttf') format('truetype');
}
@font-face { font-family: 'ITCAvantGardeStd-MdCn';
    src: url('../fonts/ITCAvantGardeStd-MdCn.woff') format('woff'),
    url('../fonts/ITCAvantGardeStd-MdCn.ttf') format('truetype');
} */
b {font-weight:bold;}
body{ font-family: "roboto"; color: #636466; font-size: 16px; width: 100%; }
h2{ font-size: 47px; color: #3f4042; text-align: center; font-family: "roboto";
    letter-spacing: -3px; margin-top: 35px; }
h2 span{ display: block; font-size: 40px; }

p{ font-size: 16px; margin: 30px auto 0 auto; line-height: 21px; }
a{ text-decoration: none; color: #636466; }

strong{ font-family: "roboto"; }
sup{ font-size: 50%; }

.blue{ color: #00aeef; }

.clear{ clear: both; }

.list{ float: right; width: 460px; margin-top: 36px; }
.list .ul-head{ font-size: 22px; margin-bottom: 20px; text-align: left; }
.list ul{ margin: 0 0 0 22px; }
.list ul li{ margin-bottom: 8px; text-align: left; line-height: 21px; padding-left: 20px; }

.package-images{ float: left; margin: 35px auto 70px auto; }
.package-images img{ display: block; }
.package-images img:nth-child(1){ margin-bottom: 20px; }

.btn{ background-color: #00aeef; color: white; font-size: 32px; font-family: "roboto";
    border-radius: 7px; padding: 16px 10px 10px 10px; text-align: center;
    letter-spacing: -1px; margin: 40px auto 0 auto; cursor: pointer; }
.btn:hover{ background-color: #24b7ee; }

.menu{ width: 1115px; height: 110px; margin: 0 auto 0 auto; }

#logo-link{ float: left; }
#logo-link img{ margin-top: 12px; }

.menu-wrapper{ position: fixed; background: white; width: 100%; z-index: 80; }

.header-separator{ background: url("../img/header-separator.png") left top repeat-x;
    width: 100%; position: fixed; top: 110px; height: 4px;  }

.menu-entries{ float: right; }
.menu-entries > div{ height: 110px; text-decoration: none; color: #636466; display: inline-block;
    text-align: center; cursor: pointer; }
.menu-entries > div > span{ display: block; margin-top: 65px; font-family: "roboto"; }

#menu-entry-1{ width: 141px; background: url("../img/menu1-1.png") left top no-repeat; }
#menu-entry-1:hover, #menu-entry-1.bak{ background-position: 0px -120px; color: white; }
#menu-entry-2{ width: 141px; background: url("../img/menu2-1.png") left top no-repeat; }
#menu-entry-2:hover, #menu-entry-2.bak{ background-position: 0px -120px; color: white; }
#menu-entry-3{ width: 141px; background: url("../img/menu3-1.png") left top no-repeat; }
#menu-entry-3:hover, #menu-entry-3.bak{ background-position: 0px -120px; color: white; }

.child{ width: 141px; background: url("../img/menu1-1.png") left top no-repeat; }
.child:hover, .child.active{ background-position: 0px -120px; color: white; }
.child{ width: 141px; background: url("../img/menu2-1.png") left top no-repeat; }
.child:hover, .child.active{ background-position: 0px -120px; color: white; }
.child{ width: 141px; background: url("../img/menu3-1.png") left top no-repeat; }
.child:hover, .child.active{ background-position: 0px -120px; color: white; }


#menu-entry-1,#menu-entry-2{margin-right:40px;}
.menu-entries > div > span {display: block;margin-top: 89px;color: #8B8B8B;font-weight: bold;font-family: "roboto";}
.menu-entries > div {height: 109px;}
#logo-link img {margin-top: 20px;}
.header-separator {
    background: url(../img/header-separator.png) left top repeat-x;
    width: 100%;
    position: fixed;
    top: 125px;
    height: 4px;
}
.menu {
    width: 1115px;
    height: 120px;
    margin: 0 auto 0 auto;
}
.menu-entries > div {
    height: 119px;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 46%;
    margin-left: -70px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 39%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip2 {
    position: relative;
    display: inline-block;
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 46%;
    margin-left: -70px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 39%;
    margin-left: -60px;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

.tooltip3 {
    position: relative;
    display: inline-block;
}

.tooltip3 .tooltiptext3 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 48%;
    margin-left: -70px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 50%;
    margin-left: -60px;
}

.tooltip3:hover .tooltiptext3 {
    visibility: visible;
}


.pages-wrapper{
  width:100%;
}

.mainlogos{
  width: 1115px;
  margin: 0 auto;
}
.logos1{
  width: 300px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-family: "roboto";
  margin-right: 25px;
  margin-left: 25px;
}

.logos2{
  width: 300px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-family: "roboto";
  margin-right: 25px;
  margin-left: 25px;
}
.logos3{
  width: 300px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-family: "roboto";
  margin-right: 25px;
  margin-left: 25px;

}

.logos1,.logos2,.logos3 > p {
  line-height: 25px;
  vertical-align: top;
}

.logos1:hover {
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}

.logos2:hover {
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}

.logos3:hover {
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}

.logos2-p {
	padding:5px;
}
.logos img {
  margin-bottom: 20px;
}

#randd,.application,.company{
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-weight: bold;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #0E862C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: inline-block;
    width: 600px;
		font-family: "roboto";

}

.contact-form {
	position: relative;
	width: 1115px;
	margin: 0 auto 0 auto;
	margin-top: 110px;
  margin-bottom: 150px;
}

.frame{
  display: inline-block;
  padding-left: 40px;
}

.contact-form h1 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-family: "roboto";
	padding-bottom: 40px;
}

div#menu-entry-1:hover span.bold{
  font-family:sans-serif;
  color: #5f5858;
  font-size: 18px;
}

div#menu-entry-2:hover span.bold{
  font-family:sans-serif;
  color: #5f5858;
  font-size: 18px;
}

div#menu-entry-3:hover span.bold{
  font-family:sans-serif;
  color: #5f5858;
  font-size: 18px;
}

.bak{   background-position: 0px -120px; color: white; }

.banner-text-1 {
	text-align: center;
  position: absolute;
  top: 145px;
  left: 30px;
  width: auto;
  height: auto;
  font-family: "roboto", sans-serif;
  font-size: 65px;
  color: rgb(255, 254, 254);
  line-height: 1.3;
  padding: 5px;
  box-sizing: border-box;
  right: 30px;
  z-index: 1;
  font-weight: bold;
  margin-left: -390px;
}

.banner-text-2 {
	text-align: center;
  position: absolute;
  top: 145px;
  left: 30px;
  width: auto;
  height: auto;
  font-family: "roboto", sans-serif;
  font-size: 65px;
  color: rgb(255, 254, 254);
  line-height: 1.3;
  padding: 5px;
  box-sizing: border-box;
  right: 30px;
  z-index: 1;
  font-weight: bold;
  margin-left: -600px;
}

.banner-text-3 {
	text-align: center;
  position: absolute;
  top: 145px;
  left: 30px;
  width: auto;
  height: auto;
  font-family: "roboto", sans-serif;
  font-size: 65px;
  color: rgb(255, 254, 254);
  line-height: 1.3;
  padding: 5px;
  box-sizing: border-box;
  right: 30px;
  z-index: 1;
  font-weight: bold;
  margin-left: -520px;
}


.banner-img {
	filter: brightness(37%);
}


.button {
	position: absolute;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  margin-top: 20px;
  margin-left: 85px;


}

.button a {
	width: 200px;
	padding: 8px 17px;
	text-align: center;
	color: #585555;
	border: solid 2px #60a762;
	z-index: 1;
	border-radius: 40px;


}
.overlay1 {
	width: auto;
	height: 350px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  opacity: 0.1;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin-top: -352px;
}
.overlay2 {
	width: auto;
	height: 350px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  opacity: 0.1;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin-top: -332px;
}

.overlay3 {
	width: auto;
	height: 350px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  opacity: 0.1;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin-top: -297px;
}



.ll:hover .button {
  opacity: 1;
}

.logos3-p {
	margin-bottom: -20px;
}


h2{
  text-align:center;
  padding: 20px;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.logo-container {
	width: 1115px;
  margin: 0 auto;
  margin-top: 130px;
  padding-bottom: 20px;
  background-color: #fffbfb;
}

.partner-h1 {
	text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 60px;
  font-family: "roboto";
}


.footer {
	position: relative;
  height: 121px;
  width: 100%;
  background-color: #808183;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  font-family: "roboto";


}

.footer-left {
	float: left;
}
.contact {
	font-size: 22px;
	margin-left: -40px;
	margin-top: 10px;
}

.buro{
	padding-left: 170px;
  font-size: 17px;
}

.office{
	color: white;
  font-size: 17px;
  padding-left: 145px;
  line-height: 25px;

}

.www{
	padding-left: 140px;
  color: white;
  font-size: 18px;
  line-height: 25px;
}

.footer-right{
	margin-top: 50px;
	margin-right: 170px;
	float: right;
}

.home {
	margin-left: -43px;
	margin-bottom: -15px;
	color: white;
}
.agb{
	color: white;
}

.impli{
	margin-top: -17px;
}

.imp{
		color: white;
    margin-right: -120px;
}

.footer-left p.buro{
	margin: 5px auto 0px auto;
  line-height: 21px;
}

.footer-separator {
    width: 100%;
    position: relative;
    bottom: 6px;
    height: 4px;
    background: url(../img/footer-separator.png) left top repeat-x;
}

.content {
	width: 1115px;
  margin: 0 auto;
	position: relative;
	top:121px;
	padding-bottom: 200px;
	padding-top: 40px;
}


.agb-h3{
	margin-bottom: -30px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "roboto";
}

.agb-h31 {
	margin-bottom: 30px;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
  font-family: "roboto";
  text-align: center;
}


.agb-p {
	font-size: 16px;
  margin: 30px auto 0 auto;
  line-height: 28px;
	margin-bottom: -20px;
}

.imp-p {
	text-align: center;
  font-size: 20px;
}


.content-impressum {
	width: 1115px;
	margin: 0 auto;
	position: relative;
	top: 121px;
	padding-bottom: 200px;
	padding-top: 40px;
	height: 579px;
}

.content-rnd{
	width: 1115px;
	margin: 0 auto;
	position: relative;
	top: 121px;
	padding-bottom: 371px;
	padding-top: 40px;
}
.rnd-img {
	padding-left: 160px;
	height: 125px;
	position: relative;
	top: 40px;
}
.rnd-a {
	padding-left: 366px;
	margin-top: -80px;
	line-height: 30px;
	font-size: 17px;
	font-family: "roboto";
}

.rnd-a a:hover {
	color: #4d9872;
  text-decoration: underline;

}

.rnd-h3 {
	position: absolute;
	top: 65px;
	left: 321px;
	font-size: 25px;
}


.content-amf{
	width: 1115px;
	margin: 0 auto;
	position: relative;
	top: 121px;
	padding-bottom: 401px;
	padding-top: 40px;
}
.amf-img {
	padding-left: 160px;
	height: 125px;
	position: relative;
	top: 40px;
}
.amf-a {
	padding-left: 366px;
	margin-top: -80px;
	line-height: 30px;
	font-size: 17px;
	font-family: "roboto";
}

.amf-a a:hover {
	color: #4d9872;
  text-decoration: underline;

}

.amf-h3 {
	position: absolute;
	top: 65px;
	left: 321px;
	font-size: 25px;
}


.content-about{
	width: 1115px;
	margin: 0 auto;
	position: relative;
	top: 121px;
	padding-bottom: 341px;
	padding-top: 40px;
}
.about-img {
	padding-left: 160px;
	height: 125px;
	position: relative;
	top: 40px;
}
.about-a {
	padding-left: 366px;
	margin-top: -80px;
	line-height: 30px;
	font-size: 17px;
	font-family: "roboto";
}

.about-a a:hover {
	color: #4d9872;
  text-decoration: underline;

}

.about-h3 {
	position: absolute;
	top: 65px;
	left: 321px;
	font-size: 25px;
}

.content-philosophy{
	width: 1115px;
	margin: 0 auto;
	position: relative;
	top: 121px;
	padding-bottom: 295px;
	padding-top: 40px;
}


.footer a:hover {
	color: #a4ddc7;
  text-decoration: underline;
}


* {
    box-sizing: border-box;
}



/* The actual timeline (the vertical ruler) */
/* .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 30px;
    background-color: #892d2d;
} */

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    /* background-color: white; */
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container-timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content-timeline {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container-timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}


.timeline-p {
	background-color: #1ABC9C;
  color: white;
  padding: 5px;
	margin:auto;
}

.timeline-img {
	width: 100%;
}

.timeline-year-2016 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	color: #009688;
	font-size: 25px;
	font-weight: bold;
}

.timeline-year-2009 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	color: #E67E22;
	font-size: 25px;
	font-weight: bold;
}

.timeline-p-2009 {
	background-color: #E67E22;
  color: white;
  padding: 5px;
	margin:auto;
}

.team-div-ceo {
	margin: 0 auto;
	position: relative;
	width: 70%;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
  margin-bottom: 40px;
	font-family: "roboto";
}

.team-ceo {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 35px;

}

.team-text-left {
	width: 50%;
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
}

.team-img-ceo {
	display: inline-block;
	width: 25%;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	margin-left: 50px;
	margin-left: 50px;
	position: relative;
	top: -90px;
	left: 30px;
}

.team-text-left {
	position: relative;
  top: -70px;
}

.team-div-fin {
	margin: 0 auto;
	position: relative;
	width: 70%;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
  margin-bottom: 40px;
	font-family: "roboto";
}

.team-fin {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: -27px;
  padding-bottom: 64px;
  padding-top: 0px;
}

.team-img-fin{
	display: inline-block;
	width: 25%;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	margin-left: 50px;
	position: relative;
	top: -20px;
}


.team-div-res {
	margin: 0 auto;
	position: relative;
	width: 70%;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
	margin-bottom: 40px;
	font-family: "roboto";
}

.team-res {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  padding-bottom: 60px;
  padding-top: 0px;
  margin-bottom: 20px;
}

.team-img-res {
	display: inline-block;
	width: 25%;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	float: left;
	margin-left: 10px;
	margin-right: 80px;
  margin-top: 20px;
}

.team-div-des {
	margin: 0 auto;
	position: relative;
	width: 70%;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
	margin-bottom: 40px;
	font-family: "roboto";
}

.team-des {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  padding-bottom: 60px;
  padding-top: 0px;
  margin-bottom: 20px;
}

.team-img-des {
	display: inline-block;
	width: 25%;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	float: left;
	margin-left: 10px;
	margin-right: 80px;
  margin-top: 20px;
}


.banner-text-small-1 {
	font-size: 38px;
  padding-left: 800px;
  padding-top: 20px;
}

.banner-text-small-2 {
	font-size: 38px;
  padding-left: 1000px;
  padding-top: 20px;
}


.banner-text-small-3 {
	font-size: 38px;
  padding-left: 960px;
  padding-top: 20px;
}



.short-intro {
	font-family: "roboto";
  width: 68%;
  margin: 0 auto;
  margin-top: 167px;
  margin-bottom: 100px;
  text-align: center;
}

.short-intro-p {
	font-size: 18px;
	line-height: 28px;
	font-family: "roboto";
}

.join-us {
	font-family: "roboto";
	width: 68%;
	margin: 0 auto;
	margin-bottom: 100px;
	text-align: center;
}

.join-us-p {
	font-size: 18px;
	margin-top: -10px;
  line-height: 28px;
  font-family: "roboto";
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f0f0f0;;
    overflow-x: hidden;
    padding-top: 20px;
		margin-top: 120px;
}

.sidenav a {
    padding: 15px 8px 12px 18px;
    text-decoration: none;
    font-size: 19px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #36b451;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.footer {
	z-index: 1;
}

.short-intro-about {
	font-family: "roboto";
	width: 75%;
	margin: 0 auto;
	margin-bottom: 100px;
	text-align: center;
}

.short-intro-h2{
	font-size: 30px;
	font-family: "roboto";
  letter-spacing: -1px;
}

.content-team {
	width: 1115px;
	margin: 0 auto;
	position: relative;
	top: -215px;
	padding-bottom: 200px;
	padding-top: 40px;

}


.short-intro-about-scientific {
	font-family: "roboto";
	width: 75%;
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;

}


.timeline-cc{
	width: 70%;
  margin-left: 380px;
}

.timeline-inn {
	width: 70%;
  margin-top: -50px;
}

li.actives a{
	color: #0A8429;
	font-weight: bold;
}

.short-intro-p-left{
	font-size: 18px;
	line-height: 28px;
	font-family: "roboto";
	text-align: left;
	padding-left: 195px;
}


.short-intro-p-left-up{
	font-size: 17px;
	line-height: 23px;
	font-family: "roboto";
	text-align: left;

}

.short-intro-p-left-down{
	font-size: 18px;
	line-height: 5px;
	font-family: "roboto";
	text-align: left;

}

.short-intro-p {
	font-size: 17px;
	line-height: 28px;
	font-family: "roboto";
	text-align: justify;

}
.short-intro-p-feeding {
	font-size: 17px;
	line-height: 28px;
	font-family:"roboto";
	text-align: justify;
	margin-top: -35px;
}


.side-links {
	text-decoration: none;
	font-size: 13px;
	display: block;
	padding-left: 40px;
	margin-top: -10px;
	color: #0A8429;
	font-weight: bold;
	padding-top: 10px;
}

.sidenav a.a-down {
	padding: 15px 8px 12px 47px;
	text-decoration: none;
	font-size: 13px;
	color: #818181;
	display: block;
}

#succeed {
	margin-bottom: 200px;
}

#li-right a {
	margin-left: 30px;
	font-size: 14px;
	margin-top: -15px;
}

#nutrient-delivery,#water-saving,#whereis,#succeed {
	font-size: 22px;
	text-align: left;
	padding: 0;
	margin-bottom: -20px;
}

.succeed {
	margin-bottom: 215px;
}

#what {
	margin-bottom: 70px;
}


#symbiotic{
	margin-bottom: 115px;
}

.short-intro-p {
	width: 105%;
}

.home {
	margin-left: -70px;
}

.agb {
	margin-left: -20px;
}

.short-intro-h2 {
	font-weight: bold;
}

.short-intro-h2-products {
	font-size: 30px;
	font-family: "roboto";
	letter-spacing: -1px;
	font-weight: bold;
}

.short-intro-p-left-down-products {
	font-size: 18px;
	line-height: 5px;
	font-family: "roboto";
	text-align: left;
}

.short-intro-about-scientific-last-products{
	font-family: "roboto";
	width: 75%;
	margin: 0 auto;
	margin-bottom: 215px;
	text-align: center;
}

.menu-wrapper-home {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 80;
}

.team-text-left-ceo {
	width: 50%;
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
  top: -70px;
}


/* board */

.team-div-ceo-1 {
  height: 400px;
  margin-bottom: 200px;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
	width: 40%;
	margin: 0 auto;
	width: 30%;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 200px;
  height: 355px;
  height: 390px;
  width: 320px;     

}

.team-ceo-1 {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 35px;
	text-align: center;
  position: relative;
  top: -152px;
  color: #716f6f;
  left: -30px;
  border: 2px solid #f1f1f1;
  padding: 20px;
  width: 335px;
  height: 122px;
  padding-top: 15px;
  width: 320px;

}

.team-text-left-ceo-1{
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
  top: -160px;
}


.team-img-ceo-1 {
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -546px;
	left: 34px;
	width: 40%;
  width: 40%;
  position: relative;
  top: -560px;
  left: 25px;
    
}



.team-div-ceo-2 {
  height: 400px;
  margin-bottom: 200px;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
	width: 40%;
	margin: 0 auto;
	width: 30%;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 200px;
  height: 355px;
}

.team-ceo-2 {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 35px;
	text-align: center;
  position: relative;
  top: -152px;
  color: #716f6f;
  left: -30px;
  border: 2px solid #f1f1f1;
  padding: 20px;
  width: 335px;
  height: 122px;
  padding-top: 15px;
}

.team-text-left-ceo-2{
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
  top: -160px;
}


.team-img-ceo-2 {
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -546px;
	left: 34px;
	width: 40%;
}


.slick-slide {
    width: 40%;
}


.team-div-ceo-3 {
  height: 400px;
  margin-bottom: 200px;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
	width: 40%;
	margin: 0 auto;
	width: 30%;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 200px;
  height: 355px;
}

.team-ceo-3 {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 35px;
	text-align: center;
  position: relative;
  top: -152px;
  color: #716f6f;
  left: -30px;
  border: 2px solid #f1f1f1;
  padding: 20px;
  width: 335px;
  height: 122px;
  padding-top: 15px;
}

.team-text-left-ceo-3{
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
  top: -160px;
}


.team-img-ceo-3 {
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -546px;
	left: 34px;
	width: 40%;
}



.team-div-ceo-4 {
  height: 400px;
  margin-bottom: 200px;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
	width: 40%;
	margin: 0 auto;
	width: 30%;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 200px;
  height: 355px;
}

.team-ceo-4 {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 35px;
	text-align: center;
  position: relative;
  top: -152px;
  color: #716f6f;
  left: -30px;
  border: 2px solid #f1f1f1;
  padding: 20px;
  width: 335px;
  height: 122px;
  padding-top: 15px;
}

.team-text-left-ceo-4{
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
  top: -160px;
}


.team-img-ceo-4 {
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -546px;
	left: 34px;
	width: 40%;
}


.team-div-ceo-5 {
  height: 400px;
  margin-bottom: 200px;
	background-color: #808183;
	padding: 1px 20px 0 30px;
	color: white;
	width: 40%;
	margin: 0 auto;
	width: 30%;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 200px;
  height: 355px;

}

.team-ceo-5 {
	font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 35px;
	text-align: center;
  position: relative;
  top: -152px;
  color: #716f6f;
  left: -30px;
  border: 2px solid #f1f1f1;
  padding: 20px;
  width: 335px;
  height: 122px;
  padding-top: 15px;
}

.team-text-left-ceo-5{
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
  top: -160px;
}


.team-img-ceo-5 {
	width: 50%;
	margin-left: 50px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #4CAF50;
	display: inline-block;
	top: -546px;
	left: 34px;
	width: 40%;
}

.slick-slide img {
    width: 40%;
}



/* boeard end */

@media screen and (max-width: 600px) {
	.header-separator{
		z-index: 99;
	}
	#logo-link {
		display: block;
		margin: 12px 40px;
	}
		#logo-link img {
	    margin-top: 0px;
	}
	.menu-wrapper {
		width: 100%;
	}
	.menu {
		width: 75%;
	}

	.menu img {
		display: block;
		margin: 0 auto;
		margin-top: 20px;
	}
	.button {
		margin-left: 120px;
	}

	.button {
		opacity: 1;
	}
	.logos-img{
		margin-top: 10px;
	}
	.logos1 {
		box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
		margin-top: 10px;
	}

	.logos2 {
		box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
		margin-top: 10px;
	}

	.logos3 {
		box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
		margin-top: 10px;
	}

	.menu-entries {
		display: none;
	}

	#jssor_1 {
		width: 100%;
	}
	.short-intro,.join-us-p {
		width: 90%;
	}

	.mainlogos,.logo-container,.contact-form,.join-us,.container,.frame{
		width: 100%;
	}

	.logos1,.logos2,.logos3 {
		width: 88%;
		margin-bottom: 100px;
	}

	.frame iframe {
		width: 90%;
	}
	.frame {
	    margin-top: 70px;
	}

	.contact {
		margin-left: 115px;
	}

	.buro {
			margin-left: 20px;
	}

	.office {
	    margin-left: 18px;
	}

	.www {
	    margin-left: 13px;
	}

	.footer-left {
	    margin-left: -150px;
	}

	.contact {
		margin-left: 100px;
	}
	.footer-right {
	    float: none;
	}

	.ul-footer {
		margin-left: -165px;
	}

	.home {
		display: none;

	}

	.impli {
		margin-left: 20px;
	}

	.ul-footer {
		margin-left: 250px;
	}

	.footer-left p.buro {
		margin-left: 20px;
	}
	.short-intro-p {
		text-align: left;

	}

	.join-us-p {
		text-align: left;
	}

	.contact-form h1 {
    font-size: 20px;
	}

	.content-about {
		width: 100%;

	}

	.sidenav {
		display: none;
	}

	.short-intro-h2-products {
    width: 320px;
		line-height: 40px;

	}

	.fertilizer-img {
		width: 100%;
	}
	.short-intro-p-left-down-products {
		line-height: 30px;
	}
	.short-intro-about-scientific-last-products {
		margin-bottom: 0px;
	}

	.menu-entries {
		display: block;
		float: none;
		width: 449px;
		margin-left: -52px;
	}
	.tooltip {
		margin-left: 0px;
    width: 132px;
	}
	.tooltip2 {
		margin-left: -44px;
		width: 133px;
	}

	.tooltip3 {
		margin-left: -45px;
		width: 133px;
	}

	.content-about {
	    padding-top: 20px;
	}

	.header-separator {
		position: relative;
    top: 3px;
	}

	.menu-wrapper {
		position: relative;
	}

	.menu-wrapper-home {
	    position: fixed;
	    background: white;
	    width: 100%;
	    z-index: 80;
	}


 #menu-entries {
	 display: none;
 }

 .header-separator-home {
	 background: url(../img/header-separator.png) left top repeat-x;
    width: 100%;
    position: fixed;
    top: 125px;
    height: 4px;
 }

 .tooltip2 {
	 margin-right: 40px;
 }

 .tooltip {
   margin-right: 24px;
 }

 .menu-entries {
   width: 412px;
 }

 #menu-entry-1, #menu-entry-2 {
    margin-right: 34px;
}

.short-intro-about {
	width: 85%;
}
.short-intro-p-about {
    width: 100%;
}

.short-intro-h2-about {
	line-height: 40px;
}


.content-team {
	width: 95%;
}

.short-intro-about {
	width: 85%;
}


.short-intro-h2-about-fail {
	line-height: 40px;
  font-size: 30px;
}

.agb-h31 {
	margin-bottom: 120px;
}
.team-div-ceo {
	width: 100%;
  height: 400px;
  margin-bottom: 200px;
}

.team-ceo {
	margin-left: 136px;
  margin-top: 80px;
}


.team-text-left-ceo {
	width: 100%;
  margin-top: 40px;
}


.team-img-ceo {
	top: -530px;
	left: 30px;
	width: 50%;
}

.team-div-res {
	width: 100%;
  height: 400px;
  margin-bottom: 200px;
}

.team-res {
	margin-left: 136px;
  margin-top: 80px;
}


.team-text-left-res {
	width: 100%;
  margin-top: 40px;
}


.team-img-res {
	top: -530px;
	left: 30px;
	width: 50%;
}



.team-div-fin {
	width: 100%;
  height: 400px;
  margin-bottom: 200px;
}

.team-fin {
	margin-left: 136px;
  margin-top: 80px;
}


.team-text-left-fin {
	width: 100%;
  margin-top: 40px;
}


.team-img-fin {
	top: -530px;
	left: 30px;
	width: 50%;
}




.team-div-des {
	width: 100%;
  height: 400px;
  margin-bottom: 200px;
}

.team-des {
	margin-left: 136px;
  margin-top: 80px;
}


.team-text-left-des {
	width: 100%;
  margin-top: 40px;
}


.team-img-des {
	top: -530px;
	left: 30px;
	width: 50%;
}


.short-intro-about {
	text-align: left;
  font-size: 17px;
  line-height: 25px;
}


.team-img-res {
	position: relative;
	top: -120px;
	left: 70px;
}

.team-res {
	position: relative;
	top: 20px;
	left: -122px;
}
.team-text-left {
	width: 100%;
}
.team-div-res {
    height: 340px;
}

.team-img-res {
	position: relative;
  top: -120px;
  left: 70px;
}

.team-res {
	position: relative;
	top: 2px;
	left: -122px;
}

.team-text-left {
	width: 100%;
  float: left;
  margin-top: -1px;
}


.team-div-fin {
	position: relative;
	height: 340px;
}


.team-fin {
	position: relative;
  top: 14px;
}


#fin {
	margin-top: 60px;
}

.team-img-fin {
	position: relative;
	top: -440px;
}


.team-div-des {
	height: 300px;

}

.team-img-des {
	position: relative;
	top: -120px;
	left: 70px;
}

.team-des {
	position: relative;
	top: -98px;
	left: -39px;
}

#des {
  margin-top: -80px;
}

#board {
    margin-top: -80px;
}

#timeline {
	width: 95%;
}


.timeline-img {
	margin-left: 60px;
}


.timeline-img-center {
	position: relative;
  top: 40px;
  left: -70px;
  height: 130px;
}


















}
